@import '../../../../styles.scss';


.kills-attack {
  background: $red;
  padding: 3px 2px 0;
  
  &.is-radiant-kills-attack {
    background: $green;
  }
}

.is-radiant-fb {
  color: $green;
}
.is-dire-fb {
  color: $red;
}

.item {
  display: flex;
  align-items: center;
}

.icon-item {
  display: inline-block;
  margin: 0 5px;
}

.radiant-kill-roshan {
  fill: $green;
}

.dire-kill-roshan {
  fill: $red;
}


// filter bar
.filter-bar {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

::ng-deep {
  .filter-item {
    width: 20%;
  }
  .filter-item-heroes {
    width: 60%;
    flex-grow: 2;
  }
}