@import '../../../../styles.scss';


.hero-tooltip {
  border: 2px solid $deep;
  width: 300px;
  padding: 10px;
  position: absolute;
  z-index: 10;
}

.hero-main {
  display: flex;
  border-bottom: 1px solid $gray;
  padding-bottom: 10px;
  
  .hero-main-left {
    position: relative;
    padding-right: 15px;
    display: flex;
    flex-direction: column;

    .hero-hpmp {
      display: flex;
      background-color: $dark;
      padding: 0 5px;
      color: $gray;
      font-size: 14px;
        
      label {
        opacity: .7;
      }
    
      .hero-hp {
        color: $green;
      }
      
      .hero-mp {
        color: $dark-blue;
      }
    }    

    .hero-img {
      display: inline-block;
      border: 1px solid $deep;
      width: 100px;
    }

    .hero-primary-attr {
      position: absolute;
      top: -7.5px;
      left: -7.5px;

      .hero-attr {
        padding: 2px;
        width: 15px;
        height: 15px;
      }
    }
  }

  .hero-main-right {
    width: 100%;
    
    h3 {
      color: $white;
      margin: 0;
      font-size: 22px;
    }

    .hero-type {
      font-size: 11px;
      color: $gray;
    }

    .hero-roles {
      font-size: 11px;
      color: $gray;
    }

    .hero-attr-info {
      padding-top: 10px;
      color: $white;
      font-size: 12px;
      display: flex;
      justify-content: space-between;

      .hero-attr-row {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .hero-attr {
        border: 2px solid $gray;
        width: 25px;
        padding: 5px;
        height: 25px;

        &.is-hero-primary-attr {
          border-color: $white;
        }
      }
    }
  }
}

.hero-attr {
  border-radius: 100%;
  display: block;
  background: $dark;
}

.hero-base-info {
  padding-top: 10px;

  .row {
    display: flex;
    color: $white;
    font-size: 13px;
    justify-content: space-between;
    padding: 0;
    margin: 10px 0 0;

    .separator {
      display: inline-block;
      flex-grow: 2;
      position: relative;
      top: -4px;
      margin-left: 7px;
      margin-right: 7px;
      border-bottom: 1px dashed $gray;
    }

    label {
      font-weight: bold;
    }

    span {
    font-size: 16px;
    }
  }
}



.hero-str {
  background: $hero-str;
  background: linear-gradient(135deg, $hero-str 0%, rgba(0,0,0,1) 65%);
}

.hero-int {
  background: $hero-int;
  background: linear-gradient(135deg, $hero-int 0%, rgba(0,0,0,1) 65%);
}

.hero-agi {
  background: $hero-agi;
  background: linear-gradient(135deg, $hero-agi 0%, rgba(0,0,0,1) 65%);
}

.hero-all {
  background: $hero-all;
  background: linear-gradient(135deg, $hero-all 0%, rgba(0,0,0,1) 65%);
}

  