<div *ngIf="isLoading">Loading</div>
<div *ngIf="!isLoading">
  <div *ngIf="dataSource.data.length === 0; else hasData">No data</div>
  <ng-template #hasData>
    <mat-paginator  #paginator pageSize="20" hidePageSize showFirstLastButtons *ngIf="!isOverviewPage"></mat-paginator>
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- hero_id Column -->
      <ng-container matColumnDef="hero_id" *ngIf="displayedColumns.includes('hero_id')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > HERO </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.hero_id && heroesLocal" class="ver-align">
            <app-img
                [data]="heroesLocal[element['hero_id']]['img']"
                class="hero-img sm-hero-img"
                [altData]="heroesLocal[element['hero_id']]['localized_name']"
                (mouseover)="showHeroModalFn($event, element.hero_id)" (mouseout)="showHeroModal=false; currentMouseOverHero = null"
              ></app-img>
            <div class="account-date">
              <a class="account_link" [routerLink]="['/heroes', element.hero_id]">{{heroesLocal[element.hero_id]['localized_name']}} ></a>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- games Column -->
      <ng-container matColumnDef="games_played" *ngIf="displayedColumns.includes('games_played')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > GAMES </th>
        <td mat-cell *matCellDef="let element">
          {{element.games_played}}
          <app-bar-chart [data]='[playersHeroesWithGameLargest?.games_played, element.games_played]'></app-bar-chart>
          </td>
      </ng-container>

      <!-- win_with Column -->
      <ng-container matColumnDef="win_pecentage_hero" *ngIf="displayedColumns.includes('win_pecentage_hero')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> WINRATE </th>
        <td mat-cell *matCellDef="let element">
          <span class="text-on-chart">{{element.games !== 0 ? (element.win_pecentage_hero * 100 | number :'1.0-1') : '0'}}</span>
          <app-bar-chart [data]='[1, element.win_pecentage_hero]'></app-bar-chart>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageIndex]="paginator?.pageIndex" [length]="paginator?.length"  [pageSize]="paginator?.pageSize" (page)="syncPrimaryPaginator($event)" hidePageSize showFirstLastButtons  *ngIf="!isOverviewPage"></mat-paginator>
  </ng-template>
</div>

<app-hero-modal *ngIf="showHeroModal" [hero]='currentMouseOverHero' [pageXY] = 'pageXY' class="hero-modal"></app-hero-modal>