<!-- matches only show after queryParams select -->
<table mat-table [dataSource]="dataSource"  matSort>

  <!-- hero_id Column -->
  <ng-container matColumnDef="hero_id" *ngIf="displayedColumns.includes('hero_id')">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="The hero played" matTooltipPosition="above"> HERO </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.hero_id && heroes" class="ver-align">
        <app-img
          [data]="heroes[element['hero_id']]['img']"
          class="hero-img sm-hero-img"
          [altData]="heroes[element['hero_id']]['localized_name']"
          (mouseover)="showHeroModalFn($event, element['hero_id'])" (mouseout)="showHeroModal=false; currentMouseOverHero = null"
        ></app-img>
        <div class="account-date">
          <a class="account_link" [routerLink]="['/matches', element.match_id]" *ngIf="heroes && element.hero_id">{{heroes[element.hero_id]['localized_name']}}></a>
          <span class="date-time">
            <span class="date-time-value" [matTooltip]="element.start_time * 1000 | date: 'mediumDate'" matTooltipPosition="above">{{element.start_time * 1000 | dateTillToday }}</span>
            <span class="land_role" *ngIf="isRecentMatches">
              <img
              onError="this.src='./assets/images/Dota2Logo.svg'"
              class="land-role-img" width="14" height="14" *ngIf="element?.lane_role && laneRoleLocal"  matTooltipPosition="above" [matTooltip]="laneRoleLocal[element.lane_role]['name'] | nameDestruct: '_' : 2" [src]="'https://www.opendota.com/assets/images/dota2/lane_' + element?.lane_role + '.svg'"/>
            </span>
          </span>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- result column -->
  <ng-container matColumnDef="lobby_type" *ngIf="displayedColumns.includes('lobby_type')">
    <th mat-header-cell *matHeaderCellDef [disabled]="true" matTooltip="Whether the player won or lost" matTooltipPosition="above"> RESULT </th>
    <td mat-cell *matCellDef="let element">
      <div>
        <a [routerLink]="['/matches', element.match_id]">
          <span [class]="(element.player_slot > 120 && !element.radiant_win) || (element.player_slot <= 120 && element.radiant_win) ? 'win-match' : 'lose-match'">{{(element.player_slot > 120 && !element.radiant_win) || (element.player_slot <= 120 && element.radiant_win) ? 'Win Match >' : 'Lose Match >'}}</span>
        </a>
        <br/>
        <span class="type-name" *ngIf="element.lobby_type && lobbyType">{{lobbyType[element.lobby_type].name | nameDestruct: '_' : 2}}</span>
      </div>
    </td>
  </ng-container>

  <!-- duration column -->
  <ng-container matColumnDef="durations" *ngIf="displayedColumns.includes('durations')">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="The length of the match" matTooltipPosition="above"> DURATION </th>
    <td mat-cell *matCellDef="let element">
      <div>
        {{element.duration | durationFormat}}
        <div class="party-skill">
          <span class="party-size" *ngIf="element.party_size > 1"  [matTooltip]="'Party Size ' + element.party_size" matTooltipPosition="above">
            <mat-icon class="party-size-icon">people</mat-icon>
            <span class="party-size-text">x{{element.party_size}}</span>
          </span>
          <mat-icon class="party-size-icon" *ngIf="element.party_size === 1"  [matTooltip]="'Party Size ' + element.party_size" matTooltipPosition="above">person</mat-icon>
          {{element.player_slot > 4 ? 'Dire' : 'Radiant'}}
        </div>
      </div>
    </td>
  </ng-container>

  <!-- KDA column -->
  <ng-container [matColumnDef]="field" *ngIf="displayedColumns.includes(field)">
    <th mat-header-cell *matHeaderCellDef [disabled]="true">
      <span>{{field | nameDestruct: '_' : 0 : 'upperCase'}}</span>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="kda-bar-box">
        {{element[field] === null ? '0' : element[field]}}
        <app-bar-chart [data]='[largestData, element[field]]'></app-bar-chart>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<app-hero-modal *ngIf="showHeroModal" [hero]='currentMouseOverHero' [pageXY] = 'pageXY' class="hero-modal"></app-hero-modal>
