<app-nav-title [title]="'MMR History'"></app-nav-title>
<br/>
<a href="https://blog.opendota.com/2016/01/13/opendota-mmr-and-you/" class="warning">
  <mat-icon class="error-icon">error</mat-icon>
  Why is the MMR not up to date?
</a>

<div class="wrpper">
  <div *ngIf="isLoading">Loading</div>
  <div *ngIf="!isLoading">
    <div *ngIf="ratings.length === 0; else hasData">No data</div>
    <ng-template #hasData>
      <app-mmr-chart [data]="ratings"></app-mmr-chart>
    </ng-template>
  </div>
</div>

