<div class="hero-count-chart-box">
  <h2><ng-content></ng-content></h2>
  <div class="hero-count-chart-wrapper" *ngIf="data">
    <svg class="hero-count-chartmeter">
    <!-- Low Range Zone (green to red) -->
      <circle id="low" r="37.5" cx="50%" cy="0" [attr.stroke]="calColor(data)"
      stroke-width="25" stroke-dasharray="117.75, 236.25" fill="rgb(33, 34, 0)">
      </circle>
    
    <!-- Average Range Zone (dark) -->
    <circle id="avg" r="37.5" cx="50%" cy="0" stroke="rgb(42, 42, 42)"
    stroke-width="26" [attr.stroke-dasharray]="117.75 - 117.75 * data.win / data.games + ', 236.25'" fill="none">
    </circle>
    
    </svg>
    <span class="text win-text">W</span>
    <span class="text lose-text">L</span>
    <span class="text win-number">{{data.win === 0 ? '-' : data.win | greaterNum : '1000' : 'k'}}</span>
    <span class="text lose-number">{{data.games - data.win === 0 ? '-' : data.games - data.win | greaterNum : '1000' : 'k'}}</span>
    <span class="text winlose-percentage" [style]="'color:' + calColor(data)">{{data.win / data.games | percent : '1.0-1'}}</span>
  </div>
</div>