<table mat-table matSort [dataSource]="dataSource">

  <!-- select column -->
  <ng-container matColumnDef="selected">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"></th>
    <td mat-cell *matCellDef="let element">
      123
    </td>
  </ng-container>

  <!-- player_slot column -->
  <ng-container matColumnDef="player_slot" *ngIf="displayedColumns.includes('player_slot')">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> PLAYER </th>
    <td mat-cell *matCellDef="let element">
      <app-player-box [data]="element" [heroesLocal]="heroesLocal" [playerColorLocal]="playerColorLocal"></app-player-box>
    </td>
  </ng-container>

  <!-- SIDE column -->
  <ng-container matColumnDef="isRadiant">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>SIDE</th>
    <td mat-cell *matCellDef="let element">
      <app-radient class="sides-icon" *ngIf="element.player_slot < 128"></app-radient>
      <app-dire class="sides-icon" *ngIf="element.player_slot > 127"></app-dire>
    </td>
  </ng-container>

  <!-- LANE column -->
  <ng-container matColumnDef="lane_role">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Lane base on early game position" matTooltipPosition="above">LANE</th>
    <td mat-cell *matCellDef="let element">
      <span class="land_role" *ngIf="element?.lane_role && laneRoleLocal">
        <img
        onError="this.src='./assets/images/Dota2Logo.svg'"
        class="land-role-img" width="14" height="14" [src]="'https://www.opendota.com/assets/images/dota2/lane_' + element?.lane_role + '.svg'"/>
        {{laneRoleLocal[element?.lane_role]['name'] | nameDestruct: '_' : 2 | titlecase}}
      </span>
      {{element?.is_roaming ? 'Roaming' : ''}}
    </td>
  </ng-container>

  <!-- CS OVER TIME column -->
  <ng-container matColumnDef="cs">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="CS each minute, first 10 minutes" matTooltipPosition="above">CS OVER TIME</th>
    <td mat-cell *matCellDef="let element">
    </td>
  </ng-container>

  <!-- EFF@10 column -->
  <ng-container matColumnDef="eff">
    <th mat-header-cell *matHeaderCellDef mat-sort-header  matTooltip="Percentage of lane gold (creeps+passive+starting) obtained at 10 minutes" matTooltipPosition="above">EFF@10</th>
    <td mat-cell *matCellDef="let element">
      {{element.lane_efficiency | percent : '1.2-2'}}
      <app-bar-chart [data]="[calPerfectData(finalData, 'lane_efficiency'), element.lane_efficiency]"></app-bar-chart>
    </td>
  </ng-container>

  <!-- DN@10 column -->
  <ng-container matColumnDef="lh">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Last hit at 10 minutes" matTooltipPosition="above">LH@10</th>
    <td mat-cell *matCellDef="let element">
      {{element.lh}}
      <app-bar-chart [data]="[calPerfectData(finalData, 'lh'), element.lh]"></app-bar-chart>
    </td>
  </ng-container> 

  <!-- DN@10 column -->
  <ng-container matColumnDef="dn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Denies hit at 10 minutes" matTooltipPosition="above">DN@10</th>
    <td mat-cell *matCellDef="let element">
      {{element.dn}}
      <app-bar-chart [data]="[calPerfectData(finalData, 'dn'), element.dn]"></app-bar-chart>
    </td>
  </ng-container>  
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
