<div class="wrapper">
  <div class="basic-items-list">
    <div class="list-title">
      <app-nav-title [title]="'Basic items'"></app-nav-title>
    </div>
    <div *ngFor="let itemQual of itemsListBasicQuals">
      <div>
        <app-nav-title [title]="itemQual">
          <img
          class="item-icon"
          width="30px"
          onError="this.src='./assets/images/Dota2Logo.svg'"
          src="https://www.opendota.com/assets/images/Dota2Logo.svg"
          [src]="'./assets/images/items_icons/itemcat_' + itemQual + '.png'"
          />
        </app-nav-title>
      </div>
      <div class="list-img">
        <img
          *ngFor="let item of itemsListBasicObj[itemQual]"
          [title]="item.dname"
          onError="this.src='./assets/images/Dota2Logo.svg'"
          width="50px"
          [style]="'border-color:' + itemColors[item.qual]"
          class="item item-color"
            src="https://www.opendota.com/assets/images/Dota2Logo.svg"  
            [src]="'https://steamcdn-a.akamaihd.net/' + item?.img"
            (mouseover)="showItemModalFn($event, item?.id, 'right')" (mouseout)="showItemModal=false; currentMouseOverItem = null"
          />
      </div>
    </div>
  </div>
  <div class="components-items-list">

    <div class="list-title">
      <app-nav-title [title]="'Upgraded Items'"></app-nav-title>
    </div>
    <div *ngFor="let itemQual of itemsListUpgradedQuals">
      <div>
        <app-nav-title [title]="itemQual">
          <img
          class="item-icon"
          width="30px"
          onError="this.src='./assets/images/Dota2Logo.svg'"
          src="https://www.opendota.com/assets/images/Dota2Logo.svg"
          [src]="'./assets/images/items_icons/itemcat_' + itemQual + '.png'"
          />
        </app-nav-title>
      </div>
      <div class="list-img">
        <img
          *ngFor="let item of itemsListUpgradedObj[itemQual]"
          onError="this.src='./assets/images/Dota2Logo.svg'"
          width="50px"
          [style]="'border-color:' + itemColors[item.qual]"
          class="item item-color"
            src="https://www.opendota.com/assets/images/Dota2Logo.svg"  
            [src]="'https://steamcdn-a.akamaihd.net/' + item?.img"
            (mouseover)="showItemModalFn($event, item?.id)" (mouseout)="showItemModal=false; currentMouseOverItem = null"
          />
      </div>
    </div>
  </div>
  
  <div class="neutral-items-list">
    <div class="list-title">
      <app-nav-title [title]="'Neutral items'"></app-nav-title>
    </div>
    <div *ngFor="let tier of [1,2,3,4,5] let i='index' " class="list">
      <div class="neutral-bar">
        <p 
          [class]="'tier-color item-color-' + neutralItemsInfo[i].rarity"
        >Tier {{tier}}</p>
          
        <span
          class="tier-time-rate"
          matTooltipPosition="above"
          matTooltip="Drop time">
          <mat-icon>query_builder</mat-icon>
          {{neutralItemsInfo[i].dropTime}}
          (
            <span
            matTooltipPosition="above"
            matTooltip="Drop Rate">
            {{neutralItemsInfo[i].dropRate}}
          </span>
          )
        </span>
      </div>
      <div class="list-img">
        <img
          *ngFor="let item of neutralItems[i]"
          onError="this.src='./assets/images/Dota2Logo.svg'"
          width="50px"
          [style]="'border-color:' + itemColors[item.qual]"
          class="item item-color"
            src="https://www.opendota.com/assets/images/Dota2Logo.svg"  
            [src]="'https://steamcdn-a.akamaihd.net/' + item?.img"
            (mouseover)="showItemModalFn($event, item?.id)" (mouseout)="showItemModal=false; currentMouseOverItem = null"
          />
      </div>
    </div>
  </div>
</div>  

<app-item-modal [items]="items" *ngIf="showItemModal" [item]='currentMouseOverItem' [pageXY] = 'pageXY' class="item-modal"></app-item-modal>