<table mat-table [dataSource]="dataSource" matSort>  
  <!-- name column -->
  <ng-container matColumnDef="player_slot">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> PLAYER </th>
    <td mat-cell *matCellDef="let element">
      <app-player-box [data]="element" [heroesLocal]="heroesLocal" [playerColorLocal]="playerColorLocal"></app-player-box>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- level column -->
  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Level achieved by hero" matTooltipPosition="above">LVL</th>
    <td mat-cell *matCellDef="let element">
      <app-pie-chart [data]="[element.level, 30]"></app-pie-chart>
    </td>
    <td mat-footer-cell *matFooterCellDef>{{finalData ? calTotal(finalData, 'level') : ''}}</td>
  </ng-container>

  <!-- hero_kills column -->
  <ng-container matColumnDef="hero_kills">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Number of kills by hero" matTooltipPosition="above"><span class="hero_kills-txt">K</span></th>
    <td mat-cell *matCellDef="let element">
      <span class="hero_kills-txt" [class]="{'max-value': element.hero_kills === calPerfectData(data, 'hero_kills')}">{{element.hero_kills === 0 ? '-' : element.hero_kills}}</span>
    </td>
    <td mat-footer-cell *matFooterCellDef><span class="hero_kills-txt">{{finalData ? calTotal(finalData, 'hero_kills') : ''}}</span></td>
  </ng-container>

  <!-- deaths column -->
  <ng-container matColumnDef="deaths">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Number of deaths by hero" matTooltipPosition="above"><span class="deaths-txt">D</span></th>
    <td mat-cell *matCellDef="let element">
      <span class="deaths-txt" [class]="{'max-value': element.deaths === calPerfectData(data,'deaths', 'min')}">{{element.deaths === 0 ? '-' : element.deaths}}</span>
    </td>
    <td mat-footer-cell *matFooterCellDef><span class="deaths-txt">{{finalData ? calTotal(finalData, 'deaths') : ''}}</span></td>
  </ng-container>

  <!-- assists column -->
  <ng-container matColumnDef="assists">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Number of assists by hero" matTooltipPosition="above"><span class="assists-txt">A</span></th>
    <td mat-cell *matCellDef="let element">
      <span class="assists-txt" [class]="{'max-value': element.assists === calPerfectData(data, 'assists')}">{{element.assists === 0 ? '-' : element.assists}}</span>
    </td>
    <td mat-footer-cell *matFooterCellDef><span class="assists-txt">{{finalData ? calTotal(finalData, 'assists') : ''}}</span></td>
  </ng-container>

  <!-- last_hits column -->
  <ng-container matColumnDef="last_hits">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Number of last hits by hero" matTooltipPosition="above" class="right-align-col"><span>LH/ </span></th>
    <td mat-cell *matCellDef="let element" class="right-align-col">
      <span [class]="{'max-value': element.last_hits === calPerfectData(data, 'last_hits')}">{{element.last_hits === 0 ? '-' : element.last_hits  | greaterNum: 1000: 'k'}}/ </span>
    </td>
    <td mat-footer-cell *matFooterCellDef class="right-align-col"><span>{{finalData ? (calTotal(finalData, 'last_hits')  | greaterNum: 1000: 'k') : ''}}/ </span></td>
  </ng-container>

  <!-- denies column -->
  <ng-container matColumnDef="denies">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Number of denied by hero" matTooltipPosition="above"><span> DN</span></th>
    <td mat-cell *matCellDef="let element">
      <span [class]="{'max-value': element.denies === calPerfectData(data, 'denies')}"> {{element.denies === 0 ? '-' : element.denies}}</span>
    </td>
    <td mat-footer-cell *matFooterCellDef><span> {{finalData ? calTotal(finalData, 'denies') : ''}}</span></td>
  </ng-container>

  <!-- net_worth column -->
  <ng-container matColumnDef="net_worth">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Hero's new worth" matTooltipPosition="above"><span class="net_worth-txt">NET</span></th>
    <td mat-cell *matCellDef="let element">
      <span class="net_worth-txt" [class]="{'max-value': element.net_worth === calPerfectData(data, 'net_worth')}">{{element.net_worth === 0 ? '-' : element.net_worth | greaterNum: 1000: 'k'}}</span>
    </td>
    <td mat-footer-cell *matFooterCellDef><span class="net_worth-txt">{{finalData ? (calTotal(finalData, 'net_worth')  | greaterNum: 1000: 'k') : ''}}</span></td>
  </ng-container>

  <!-- gold_per_min column -->
  <ng-container matColumnDef="gold_per_min">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Gold farmed per minute" matTooltipPosition="above" class="right-align-col"><span>GPM/ </span></th>
    <td mat-cell *matCellDef="let element" class="right-align-col">
      <span [class]="{'max-value': element.gold_per_min === calPerfectData(data, 'gold_per_min')}">{{element.gold_per_min === 0 ? '-' : element.gold_per_min  | greaterNum: 1000: 'k'}}/ </span>
    </td>
    <td mat-footer-cell *matFooterCellDef class="right-align-col"><span>{{finalData ? (calTotal(finalData, 'gold_per_min')   | greaterNum: 1000: 'k') : ''}}/ </span></td>
  </ng-container>

  <!-- xp_per_min column -->
  <ng-container matColumnDef="xp_per_min">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Experience gained per minute" matTooltipPosition="above"><span> XPM</span></th>
    <td mat-cell *matCellDef="let element">
      <span [class]="{'max-value': element.xp_per_min === calPerfectData(data, 'xp_per_min')}"> {{element.xp_per_min === 0 ? '-' : element.xp_per_min   | greaterNum: 1000: 'k'}}</span>
    </td>
    <td mat-footer-cell *matFooterCellDef><span> {{finalData ? (calTotal(finalData, 'xp_per_min')  | greaterNum: 1000: 'k') : ''}}</span></td>
  </ng-container>

  <!-- hero_damage column -->
  <ng-container matColumnDef="hero_damage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Amount of damage dealt to heroes" matTooltipPosition="above"><span> DH</span></th>
    <td mat-cell *matCellDef="let element">
      <span [class]="{'max-value': element.hero_damage === calPerfectData(data, 'hero_damage')}"> {{element.hero_damage === 0 ? '-' : element.hero_damage   | greaterNum: 1000: 'k'}}</span>
    </td>
    <td mat-footer-cell *matFooterCellDef><span> {{finalData ? (calTotal(finalData, 'hero_damage')  | greaterNum: 1000: 'k') : ''}}</span></td>
  </ng-container>

  <!-- tower_damage column -->
  <ng-container matColumnDef="tower_damage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Amount of damage dealt to towers" matTooltipPosition="above"><span> TD</span></th>
    <td mat-cell *matCellDef="let element">
      <span [class]="{'max-value': element.tower_damage === calPerfectData(data, 'tower_damage')}"> {{element.tower_damage === 0 ? '-' : element.tower_damage   | greaterNum: 1000: 'k'}}</span>
    </td>
    <td mat-footer-cell *matFooterCellDef><span> {{finalData ? (calTotal(finalData, 'tower_damage')  | greaterNum: 1000: 'k') : ''}}</span></td>
  </ng-container>
  
  <!-- hero_healing column -->
  <ng-container matColumnDef="hero_healing">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Amount of health restored to heroes" matTooltipPosition="above"><span> HH</span></th>
    <td mat-cell *matCellDef="let element">
      <span [class]="{'max-value': element.hero_healing === calPerfectData(data, 'hero_healing')}"> {{element.hero_healing === 0 ? '-' : element.hero_healing   | greaterNum: 1000: 'k'}}</span>
    </td>
    <td mat-footer-cell *matFooterCellDef><span> {{finalData ? (calTotal(finalData, 'hero_healing')  | greaterNum: 1000: 'k') : ''}}</span></td>
  </ng-container>
  
  <!-- items built column -->
  <ng-container matColumnDef="items">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true" matTooltip="Items built" matTooltipPosition="above"><span> ITEMS</span></th>
    <td mat-cell *matCellDef="let element">
      <div class="item-list">
        <span *ngFor="let item of element.items" class="item-list-item">
          <img
              width="40px"
              [class]="'item-color item-color-' + itemsLocal[itemIdsLocal[item]]?.qual"
              class="item"
              *ngIf="item !== 0 && item && itemIdsLocal && itemsLocal && itemsLocal[itemIdsLocal[item]]?.img"
              onError="this.src='./assets/images/Dota2Logo.svg'"
              [src]="'https://steamcdn-a.akamaihd.net/' + itemsLocal[itemIdsLocal[item]]?.img"
              (mouseover)="showItemModalFn.emit([$event, item])"
              (mouseout)="hideItemModalFn.emit($event)"
            />
            <span class="middle-text" *ngIf="item !== 0 && element.purchase_time[itemIdsLocal[item]]">
              <span>{{element.purchase_time[itemIdsLocal[item]] | durationFormat}}</span>
            </span>
        </span>
      </div>
      <div class="backpack-list" *ngIf="whetherShowBackPackList(element.backpack)">
        <mat-icon class="backpack" matTooltip="Backpack" matTooltipPosition="above">card_travel</mat-icon>
        <span *ngFor="let item of element.backpack" class="item-list-item">
          <img
            width="30px"
            [class]="'item-color item-color-' + itemsLocal[itemIdsLocal[item]]?.qual"
            class="item"
            *ngIf="item !== 0 && item && itemIdsLocal && itemsLocal && itemsLocal[itemIdsLocal[item]]?.img"
            onError="this.src='./assets/images/Dota2Logo.svg'"
            [src]="'https://steamcdn-a.akamaihd.net/' + itemsLocal[itemIdsLocal[item]]?.img"
            (mouseover)="showItemModalFn.emit([$event, item])"
            (mouseout)="hideItemModalFn.emit($event)"
          />
          <span class="middle-text" *ngIf="item !== 0 && element.purchase_time[itemIdsLocal[item]]">
            <span>{{element.purchase_time[itemIdsLocal[item]] | durationFormat}}</span>
          </span>
        </span>
      </div>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- item_neutral column -->
  <ng-container matColumnDef="item_neutral">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"><span></span></th>
    <td mat-cell *matCellDef="let element">
      
      <img
        class="item-neutral"
        *ngIf="element.item_neutral !== 0 && itemIdsLocal && itemsLocal && itemsLocal[itemIdsLocal[element.item_neutral]]?.img"
        onError="this.src='./assets/images/Dota2Logo.svg'"
        [src]="'https://steamcdn-a.akamaihd.net/' + itemsLocal[itemIdsLocal[element.item_neutral]]?.img"
        (mouseover)="showItemModalFn.emit([$event, element.item_neutral])"
        (mouseout)="hideItemModalFn.emit($event)"
      />
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  
  <!-- aghanims column -->
  <ng-container matColumnDef="aghanims">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"><span></span></th>
    <td mat-cell *matCellDef="let element">
      <img
        class="aghanims-scepter"
        [src]="'./assets/images/scepter_' + (whetherShowScepterShard(element.permanent_buffs, 2)  ? '1' : '0') + '.png'"
        onError="this.src='./assets/images/Dota2Logo.svg'"
        (mouseover)="showItemModalFn.emit([$event, 108])"
        (mouseout)="hideItemModalFn.emit($event)"
      />
      <img
        class="aghanims-shard"
        [src]="'./assets/images/shard_' + (whetherShowScepterShard(element.permanent_buffs, 12) ? '1' : '0') + '.png'"
        onError="this.src='./assets/images/Dota2Logo.svg'"
        (mouseover)="showItemModalFn.emit([$event, 609])"
        (mouseout)="hideItemModalFn.emit($event)"
      />
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- permanent_buffs column -->
  <ng-container matColumnDef="permanent_buffs">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true" matTooltip="Permanent buffs such as Flesh Heap stacks or Tomes of Knowledge used" matTooltipPosition="above"><span> BUFF</span></th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="!element.permanent_buffs; else hasPermanentBuffs">-</span>
      <ng-template #hasPermanentBuffs>
        <div class="permanent-buffs-list">
          <span *ngFor="let item of element.permanent_buffs" class="item-list-item">
            <!-- for item -->
              <img
                width="40px"
                class="item"
                *ngIf="item.stack_count !== 0 && itemsLocal && itemsLocal[permanentBuffsLocal[item?.permanent_buff]]?.img"
                onError="this.src='./assets/images/Dota2Logo.svg'"
                [src]="'https://steamcdn-a.akamaihd.net/' + itemsLocal[permanentBuffsLocal[item?.permanent_buff]]?.img"
                (mouseover)="showItemModalFn.emit([$event, itemsLocal[permanentBuffsLocal[item?.permanent_buff]]?.id])"
                (mouseout)="hideItemModalFn.emit($event)"
              />
            
              <!-- for ability -->
              <img
                width="40px"
                class="item"
                *ngIf="item.stack_count !== 0 && abilitiesTalentsLocal && abilitiesTalentsLocal[permanentBuffsLocal[item?.permanent_buff]]?.img"
                onError="this.src='./assets/images/Dota2Logo.svg'"
                [src]="'https://steamcdn-a.akamaihd.net/' + abilitiesTalentsLocal[permanentBuffsLocal[item?.permanent_buff]]?.img"
                (mouseover)="showAbilityModalFn.emit([$event, permanentBuffsLocal[item?.permanent_buff]])"
                (mouseout)="hideAbilityModalFn.emit($event)"
              />
              <span class="middle-text" *ngIf="item.stack_count !== 0">
                <span>{{item.stack_count}}</span>
              </span>
          </span>
        </div>
      </ng-template>
      
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  

  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
