@import '../../../../styles.scss';
// override the table style

.mat-table {
  border: 1px solid rgba($color: $white, $alpha: 0.03);
  background: none;
  width: 100%;

  th {
    background: rgba($color: $white, $alpha: 0.03);
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 10px;
  }
  
  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 10px;
  }

  td {
    color: $gray;
    font-size: 13px;
  }
}

.kda-bar-box {
  position: relative;
}
.kda-bar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 280%;
  cursor: pointer;
}

.mat-table {
  margin-bottom: 15px;
}

.hero_kills-txt {
  color: $green;
}

.deaths-txt {
  color: $red;
}

.assists-txt {
  color: $light-gray-blue;
}

.net_worth-txt {
  color: $yellow;
}

.max-value {
  text-decoration: underline;
}

.right-align-col {
  text-align: right;

  ::ng-deep {
    .mat-sort-header-container {
      justify-content: flex-end!important;
  
      .mat-sort-header-arrow {
        order: 0;
      }
  
      .mat-sort-header-content {
        order: 1;
      }
    }
  }
}

.aghanims-scepter {
  cursor: pointer;
  width: 28px;
  height: 29px;
  display: block;
}

.aghanims-shard {
  cursor: pointer;
  width: 30px;
  height: 17px;
}

.item-neutral {
  border-radius: 100%;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

// item list
.item-list {
  display: flex;
  flex-direction: row;

  .item-list-item {
    position: relative;
    margin-right: 10px;
  }

  .middle-text {
    position: absolute;
    bottom: 8px;
    line-height: 14px;
    height: 14px;
    left: 1px;
    right: 1px;
    text-align: center;
    color: $gray;
    font-size: 10px;
    background: rgb(0 0 0 / 60%);
  }
}

.item {
  cursor: pointer;
}

.item-color {
  border-width: 1px;
  border-style: solid;

  &.item-color-rare {
    border-color: $item-rare;
  }
  
  &.item-color-artifact {
    border-color: $item-artifact;
  }
  
  &.item-color-secret-shop {
    border-color: $item-secret-shop;
  }
  
  &.item-color-consumable {
    border-color: $item-consumable;
  }
  
  &.item-color-common {
    border-color: $item-common;
  }
  
  &.item-color-epic {
    border-color: $item-epic;
  }
  
  &.item-color-component {
    border-color: $item-component;
  }
}

// backpack list
.backpack-list {
  display: flex;
  align-items: center;

  
  .item-list-item {
    display: flex;
    align-items: stretch;
    margin-right: 10px;
  }

  .middle-text {
    display: inline-block;
    padding: 0 5px;
    line-height: 24px;
    text-align: center;
    color: $gray;
    font-size: 10px;
    background: rgb(0 0 0 / 60%);
  }

  .backpack {
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
    width: 14px;
    height: 14px;
    color: $gray;
  }
}

// permanent buffs list
.permanent-buffs-list {
  display: flex;
  flex-direction: row;

  .item-list-item {
    position: relative;
  }

  .middle-text {
    position: absolute;
    bottom: 6px;
    line-height: 14px;
    height: 14px;
    left: 0;
    right: 0;
    text-align: center;
    color: $gray;
    font-size: 10px;
    background: rgb(0 0 0 / 60%);
  }
}