<!-- match top overview section -->
<div *ngIf="isLoading">Loading</div>
<app-match-hero [data]="matchData" *ngIf="!isLoading"></app-match-hero>
<div class="warning" *ngIf="!matchData?.objectives && !isLoading"><mat-icon>warning</mat-icon> The matches is not yet parsed completed! So some data is not visible</div>
<!-- teams page navigation -->
<app-sub-nav *ngIf="!isLoading" [links]="matchData?.objectives ? [
'overview',
'benchmarks',
'draft',
'performances',
'laning',
'combat',
'farm',
'items',
'graphs',
'casts',
'objectives',
'vision',
'actions',
'teamfights',

'cosmetics',
'log',
'fantasy',
'chat',
'story'
] : ['overview', 'benchmarks', 'draft']" [parentPage]="'matchesDetail'"></app-sub-nav>

<div class="wrapper">
  <div *ngIf="isLoading; else hasData">Loading</div>

  <ng-template #hasData>

    <!-- overview tab -->
    <div *ngIf="currentPage === 'overview'">
      <!-- radiant side -->
      <div class="team-box">
        <div class="team-row">
          <app-radient class="sides-icon"></app-radient>
          <app-nav-title [title]="matchData?.radiant_team ? matchData?.radiant_team?.name + ' - Overview' : 'Radiant - Overview'"> {{matchData.radiant_win ? 'WINNER' : ''}}</app-nav-title>
        </div>
        <!-- team-row -->

        <!-- overview table -->
        <app-table-match-detail-overview
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [itemIdsLocal]="itemIds"
          [itemsLocal]="items"
          (showItemModalFn)="showItemModalFn($event)"
          (hideItemModalFn)="showItemModal=false; currentMouseOverItem = null; currentMouseOverAghs = null"
          [data]="matchData?.players"
          [dataRange]="[0, 5]"
          [abilitiesTalentsLocal]="abilities"
          [permanentBuffsLocal]="permanentBuffs"
          (showAbilityModalFn)="showAbilityModalFn($event)"
          (hideAbilityModalFn)="showAbilityModal=false; currentMouseOverAbilityName = null"
        >
        </app-table-match-detail-overview>

        <!-- band pick list -->
        <app-band-pick-list
          *ngIf="matchData?.picks_bans"
          [heroesLocal]="heroes"
          [data]="extractBanPickListBaseOnTeam(matchData?.picks_bans, 0)">
        </app-band-pick-list>

      </div>
      <!-- team-box -->

      <!-- dire side -->
      <div class="team-box">
        <div class="team-row">
          <app-dire class="sides-icon"></app-dire>
          <app-nav-title [title]="matchData?.dire_team ? matchData?.dire_team?.name + ' - Overview' : 'Dire - Overview'"> {{matchData.radiant_win ? '' : 'WINNER'}}</app-nav-title>
        </div>
        <!-- team-row -->

        <!-- overview table -->
        <app-table-match-detail-overview
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [itemIdsLocal]="itemIds"
          [itemsLocal]="items"
          (showItemModalFn)="showItemModalFn($event)"
          (hideItemModalFn)="showItemModal=false; currentMouseOverItem = null; currentMouseOverAghs = null;"
          [data]="matchData?.players"
          [dataRange]="[5, 10]"
          [abilitiesTalentsLocal]="abilities"
          [permanentBuffsLocal]="permanentBuffs"
          (showAbilityModalFn)="showAbilityModalFn($event)"
          (hideAbilityModalFn)="showAbilityModal=false; currentMouseOverAbilityName = null"
        >
        </app-table-match-detail-overview>

        <!-- band pick list -->
        <app-band-pick-list
          *ngIf="matchData?.picks_bans"
          [heroesLocal]="heroes"
          [data]="extractBanPickListBaseOnTeam(matchData?.picks_bans, 1)">
        </app-band-pick-list>
        
      </div>
      <!-- team-box -->

      <!-- ability build -->
      <!-- radiant side -->
      <div class="team-box" *ngIf="matchData?.players[0].ability_upgrades_arr">
        <div class="team-row">
          <app-radient class="sides-icon"></app-radient>
          <app-nav-title [title]="matchData?.radiant_team ? matchData?.radiant_team?.name + ' - Ability Build' : 'Radiant - Ability Build'"> {{matchData.radiant_win ? 'WINNER' : ''}}</app-nav-title>
        </div>
        <!-- team-row -->

        <!-- ability build -->
        <app-table-match-detail-overview-ability-build
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [abilitiesByIdLocal]="abilityIds"
          [abilitiesTalentsLocal]="abilities"
          (showAbilityModalFn)="showAbilityModalFn($event)"
          (hideAbilityModalFn)="showAbilityModal=false; currentMouseOverAbilityName = null"
          [data]="matchData?.players | slice: 0:5">
        </app-table-match-detail-overview-ability-build>
        
      </div>
      <!-- team-box -->

      <!-- dire side -->
      <div class="team-box" *ngIf="matchData?.players[0].ability_upgrades_arr">
        <div class="team-row">
          <app-dire class="sides-icon"></app-dire>
          <app-nav-title [title]="matchData?.dire_team ? matchData?.dire_team?.name + ' - Overview' : 'Dire - Overview'"> {{matchData.radiant_win ? '' : 'WINNER'}}</app-nav-title>
        </div>
        <!-- team-row -->

        <!-- ability build -->
        <app-table-match-detail-overview-ability-build
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [abilitiesByIdLocal]="abilityIds"
          [abilitiesTalentsLocal]="abilities"
          (showAbilityModalFn)="showAbilityModalFn($event)"
          (hideAbilityModalFn)="showAbilityModal=false; currentMouseOverAbilityName = null"
          [data]="matchData?.players | slice: 5:10"
          >
        </app-table-match-detail-overview-ability-build>

        <div class="overview-map-adv">
          <!-- Radiant Advantage -->
          <div class="overview-adv">
            <app-nav-title [title]="'Radiant Advantage'"></app-nav-title>
            <app-chart-stack-line-with-minus
              *ngIf="matchData.radiant_xp_adv || matchData.radiant_gold_adv"
              [data]="[matchData.radiant_xp_adv, matchData.radiant_gold_adv]"
            ></app-chart-stack-line-with-minus>
          </div>
        </div>
        
      </div>
      <!-- team-box -->
    </div>

    <!-- benchmarks tab -->
    <div *ngIf="currentPage === 'benchmarks'" class="single-match-benchmarks">
      <div class="team-box">
        <div class="team-row">
          <app-radient class="sides-icon"></app-radient>
          <app-nav-title [title]="matchData?.radiant_team ? matchData?.radiant_team?.name + ' - Ability Build' : 'Radiant - Ability Build'"> {{matchData.radiant_win ? 'WINNER' : ''}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-benchmarks
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 0:5"></app-table-match-detail-benchmarks>
        <!-- table -->
      </div>
      <!-- team-box -->

      <div class="team-box">
        <div class="team-row">
          <app-dire class="sides-icon"></app-dire>
          <app-nav-title [title]="matchData?.dire_team ? matchData?.dire_team?.name + ' - Benchmarks' : 'Dire - Benchmarks'"> {{matchData.radiant_win ? '' : 'WINNER'}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-benchmarks
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 5:10">
        </app-table-match-detail-benchmarks>
        <!-- table -->
      </div>
      <!-- team-box -->

      <div class="build-map-advantage">
        <!-- build map -->
        
        <!-- advantage-chart -->
      </div>

    </div>
  
    <!-- draft tab content -->
    <div class="single-match-draft" *ngIf="currentPage === 'draft'">
      <div *ngIf="!matchData?.picks_bans">The match does not have Draft timeming.</div>
      <app-draft-list
        *ngIf="matchData?.picks_bans"
        [data]="matchData?.picks_bans"
        [heroesLocal]="heroes"
        [radiantTeam]="matchData?.radiant_team"
        [direTeam]="matchData?.dire_team">
      </app-draft-list>
    </div>

    <!-- laning tab content -->
    <div class="single-match-draft" *ngIf="currentPage === 'laning'">
      <app-nav-title [title]="'Laning'"></app-nav-title>
      <app-table-laning
      [heroesLocal]="heroes"
      [playerColorLocal]="playerColors"
      [heroesLocal]="heroes"
      [laneRoleLocal]="laneRoleLocal"
      [data]="matchData?.players"
      >
      </app-table-laning>

      <div class="map-last-hit-denies-row">
        <!-- map -->
        <div class="lane-map">
          <app-nav-title [title]="'Map'"></app-nav-title>
          abc
        </div>

        <!-- lh, d -->
        <div class="lane-lh-dn">
          <app-nav-title [title]="'Last Hits + Denies'"></app-nav-title>
          <!-- last_hit graphs -->
          <app-chart-statck-line
            [playerColorLocal]="playerColors"
            [heroesLocal]="heroes"
            [data]="matchData?.players"
            [heroesNameLocal]="heroNames"
            [field]="'lh_t'"
            [fieldTwo]="'dn_t'"
            [dataZoom]="true"
          >
          </app-chart-statck-line>
        </div>
      </div>
    </div>

    <!-- performances tab content -->
    <div *ngIf="currentPage === 'performances'" class="single-match-performances">
      <div class="team-box">
        <div class="team-row">
          <app-radient class="sides-icon"></app-radient>
          <app-nav-title [title]="matchData?.radiant_team ? matchData?.radiant_team?.name + ' - Performances' : 'Radiant - Performances'"> {{matchData.radiant_win ? 'WINNER' : ''}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-performances
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [heroesNameLocal]="heroNames"
          [abilitiesTalentsLocal]="abilities"
          (showAbilityModalFn)="showAbilityModalFn($event)"
          (hideAbilityModalFn)="showAbilityModal=false; currentMouseOverAbilityName = null"
          [data]="matchData?.players | slice: 0:5">
        </app-table-match-detail-performances>
        <!-- table -->
      </div>
      <!-- team-box -->

      <div class="team-box">
        <div class="team-row">
          <app-dire class="sides-icon"></app-dire>
          <app-nav-title [title]="matchData?.dire_team ? matchData?.dire_team?.name + ' - Performances' : 'Dire - Performances'"> {{matchData.radiant_win ? '' : 'WINNER'}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-performances
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [heroesNameLocal]="heroNames"
          [abilitiesTalentsLocal]="abilities"
          (showAbilityModalFn)="showAbilityModalFn($event)"
          (hideAbilityModalFn)="showAbilityModal=false; currentMouseOverAbilityName = null"
          [data]="matchData?.players | slice: 5:10">
        </app-table-match-detail-performances>
        <!-- table -->
      </div>
      <!-- team-box -->
    </div>

    <!-- combat -->
    <div *ngIf="currentPage === 'combat'">
      <div class="kill-damage">
        <!-- kills table -->
        <div class="team-box">
          <app-nav-title [title]="'Kills and Damages '">
            <span class="killed-damage-txt">Killed</span><span class="killed-damage-txt">Damage</span><span class="killed-damage-by-txt">Killed by</span><span class="killed-damage-by-txt">Damage taken</span>
          </app-nav-title>
          <app-table-match-detail-combat-kills
            [heroesLocal]="heroes"
            [data]="matchData?.players"
          >
          </app-table-match-detail-combat-kills>
        </div>

        <!-- damage table -->
        <!-- Now I merge kills and damage table togeter -->
        <!-- <div>
          <app-nav-title [title]="'Damage'"> </app-nav-title>
          <app-table-match-detail-combat-damage
            [heroesLocal]="heroes"
            [data]="matchData?.players"
          >
          </app-table-match-detail-combat-damage>
        </div> -->

      </div>
      <!-- damage detail table -->

      <!-- radiant damage detail tabel -->
      <div class="team-box">
        <div class="team-row">
          <app-radient class="sides-icon"></app-radient>
          <app-nav-title [title]="matchData?.radiant_team ? matchData?.radiant_team?.name + ' - Damage' : 'Radiant - Damage'"> {{matchData.radiant_win ? 'WINNER' : ''}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-combat-damage-detail
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 0:5"

          [heroesNameLocal]="heroNames"
          [itemIdsLocal]="itemIds"
          [itemsLocal]="items"
          (showItemModalFn)="showItemModalFn($event)"
          (hideItemModalFn)="showItemModal=false; currentMouseOverItem = null"
          [abilitiesTalentsLocal]="abilities"
          (showAbilityModalFn)="showAbilityModalFn($event)"
          (hideAbilityModalFn)="showAbilityModal=false; currentMouseOverAbilityName = null"
        >
        </app-table-match-detail-combat-damage-detail>
      </div>
      <!-- team-box -->
      
      <!-- dire damage detail tabel -->
      <div class="team-box">
        <div class="team-row">
          <app-dire class="sides-icon"></app-dire>
          <app-nav-title [title]="matchData?.dire_team ? matchData?.dire_team?.name + ' - Damage' : 'Dire - Damage'"> {{matchData.radiant_win ? '' : 'WINNER'}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-combat-damage-detail
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 5:10"

          [heroesNameLocal]="heroNames"
          [itemIdsLocal]="itemIds"
          [itemsLocal]="items"
          (showItemModalFn)="showItemModalFn($event)"
          (hideItemModalFn)="showItemModal=false; currentMouseOverItem = null"
          [abilitiesTalentsLocal]="abilities"
          (showAbilityModalFn)="showAbilityModalFn($event)"
          (hideAbilityModalFn)="showAbilityModal=false; currentMouseOverAbilityName = null"
        >
        </app-table-match-detail-combat-damage-detail>
        <!-- table -->
      </div>
      <!-- team-box -->
    </div>

    <!-- farm -->
    <div *ngIf="currentPage === 'farm'">
      <!-- units kills -->
      <div class="team-box">
        <div class="team-row">
          <app-radient class="sides-icon"></app-radient>
          <app-nav-title [title]="matchData?.radiant_team ? matchData?.radiant_team?.name + ' - Units Kills' : 'Radiant - Units Kills'"> {{matchData.radiant_win ? 'WINNER' : ''}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-unit-kills
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 0:5"
        >
        </app-table-match-detail-unit-kills>
      </div>
      <!-- team-box -->
      <div class="team-box">
        <div class="team-row">
          <app-dire class="sides-icon"></app-dire>
          <app-nav-title [title]="matchData?.dire_team ? matchData?.dire_team?.name + ' - Units Kills' : 'Dire - Units Kills'"> {{matchData.radiant_win ? '' : 'WINNER'}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-unit-kills
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 5:10"
        >
      </app-table-match-detail-unit-kills>
        <!-- table -->
      </div>
      <!-- team-box -->

      <!-- last hits -->
      <div class="team-box">
        <div class="team-row">
          <app-radient class="sides-icon"></app-radient>
          <app-nav-title [title]="matchData?.radiant_team ? matchData?.radiant_team?.name + ' - Last Hits' : 'Radiant - Last Hits'"> {{matchData.radiant_win ? 'WINNER' : ''}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-last-hits
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 0:5"
        >
        </app-table-match-detail-last-hits>
      </div>
      <!-- team-box -->
      <div class="team-box">
        <div class="team-row">
          <app-dire class="sides-icon"></app-dire>
          <app-nav-title [title]="matchData?.dire_team ? matchData?.dire_team?.name + ' - Last Hits' : 'Dire - Last Hits'"> {{matchData.radiant_win ? '' : 'WINNER'}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-last-hits
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 5:10"
        >
      </app-table-match-detail-last-hits>
        <!-- table -->
      </div>
      <!-- team-box -->

      <!-- Gold Sources -->
      <app-nav-title [title]="'Gold Sources'"></app-nav-title>
      <app-chart-stack-bar
        [heroesLocal]="heroes"
        [data]="matchData?.players"
        [field]="'gold_reasons'"
        [mapping]="goldReasonMapping"
      >
      </app-chart-stack-bar>

      <!-- XP Sources -->
      <app-nav-title [title]="'XP Sources'"></app-nav-title>
      <app-chart-stack-bar
        [heroesLocal]="heroes"
        [data]="matchData?.players"
        [field]="'xp_reasons'"
        [mapping]="xpReasonMapping"
      >
      </app-chart-stack-bar>
    </div>

    <!-- item -->
    <div *ngIf="currentPage === 'items'">
      <mat-checkbox class="turbo-control" (change)="enableConsumable = !enableConsumable">Show consumable</mat-checkbox>
      <div class="team-box">
        <div class="team-row">
          <app-radient class="sides-icon"></app-radient>
          <app-nav-title [title]="matchData?.radiant_team ? matchData?.radiant_team?.name + ' - Purchase Log' : 'Radiant - Purchase Log'"> {{matchData.radiant_win ? 'WINNER' : ''}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-items
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 0:5"
          
          [enableConsumable]="enableConsumable"
          [itemsLocal]="items"
          (showItemModalFn)="showItemModalFn($event)"
          (hideItemModalFn)="showItemModal=false; currentMouseOverItem = null"
        >
        </app-table-match-detail-items>
      </div>
      <!-- team-box -->

      <div class="team-box">
        <div class="team-row">
          <app-dire class="sides-icon"></app-dire>
          <app-nav-title [title]="matchData?.dire_team ? matchData?.dire_team?.name + ' - Purchase Log' : 'Dire - Purchase Log'"> {{matchData.radiant_win ? '' : 'WINNER'}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-items
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 5:10"
          
          [enableConsumable]="enableConsumable"
          [itemsLocal]="items"
          (showItemModalFn)="showItemModalFn($event)"
          (hideItemModalFn)="showItemModal=false; currentMouseOverItem = null"
        >
      </app-table-match-detail-items>
        <!-- table -->
      </div>
      <!-- team-box -->
    </div>

    <!-- graphs -->
    <div *ngIf="currentPage === 'graphs'">

      <!-- team fight time line -->
      <app-time-line-teamfight
        [playerColorLocal]="playerColors"
        [heroesLocal]="heroes"
        [heroesNameLocal]="heroNames"
        [data]="matchData"
      ></app-time-line-teamfight>

      <!-- Radiant Advantage -->
      <app-nav-title [title]="'Radiant Advantage'"></app-nav-title>
      <app-chart-stack-line-with-minus
        [data]="[matchData.radiant_xp_adv, matchData.radiant_gold_adv]"
      ></app-chart-stack-line-with-minus>

      <!-- gold graphs -->
      <app-nav-title [title]="'Gold'"></app-nav-title>
      <app-chart-statck-line
        [playerColorLocal]="playerColors"
        [heroesLocal]="heroes"
        [data]="matchData?.players"
        [heroesNameLocal]="heroNames"
        [field]="'gold_t'"
      >
      </app-chart-statck-line>
      <!-- experience graphs -->
      <app-nav-title [title]="'Experience'"></app-nav-title>
      <app-chart-statck-line
        [playerColorLocal]="playerColors"
        [heroesLocal]="heroes"
        [data]="matchData?.players"
        [heroesNameLocal]="heroNames"
        [field]="'xp_t'"
      >
      </app-chart-statck-line>

      
      <!-- last_hit graphs -->
      <app-nav-title [title]="'Last Hits'"></app-nav-title>
      <app-chart-statck-line
        [playerColorLocal]="playerColors"
        [heroesLocal]="heroes"
        [data]="matchData?.players"
        [heroesNameLocal]="heroNames"
        [field]="'lh_t'"
      >
      </app-chart-statck-line>

    </div>

    <!-- casts -->
    <div *ngIf="currentPage === 'casts'">
      <div class="team-box">
        <div class="team-row">
          <app-radient class="sides-icon"></app-radient>
          <app-nav-title [title]="matchData?.radiant_team ? matchData?.radiant_team?.name + ' - Casts' : 'Radiant - Casts'"> {{matchData.radiant_win ? 'WINNER' : ''}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-casts
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 0:5"
          
          [heroesNameLocal]="heroNames"
          [itemIdsLocal]="itemIds"
          [itemsLocal]="items"
          (showItemModalFn)="showItemModalFn($event)"
          (hideItemModalFn)="showItemModal=false; currentMouseOverItem = null"
          [abilitiesTalentsLocal]="abilities"
          (showAbilityModalFn)="showAbilityModalFn($event)"
          (hideAbilityModalFn)="showAbilityModal=false; currentMouseOverAbilityName = null"
        >
        </app-table-match-detail-casts>
      </div>
      <!-- team-box -->

      <div class="team-box">
        <div class="team-row">
          <app-dire class="sides-icon"></app-dire>
          <app-nav-title [title]="matchData?.dire_team ? matchData?.dire_team?.name + ' - Casts' : 'Dire - Casts'"> {{matchData.radiant_win ? '' : 'WINNER'}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-casts
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 5:10"
          
          [heroesNameLocal]="heroNames"
          [itemIdsLocal]="itemIds"
          [itemsLocal]="items"
          (showItemModalFn)="showItemModalFn($event)"
          (hideItemModalFn)="showItemModal=false; currentMouseOverItem = null"
          [abilitiesTalentsLocal]="abilities"
          (showAbilityModalFn)="showAbilityModalFn($event)"
          (hideAbilityModalFn)="showAbilityModal=false; currentMouseOverAbilityName = null"
        >
      </app-table-match-detail-casts>
        <!-- table -->
      </div>
      <!-- team-box -->
    </div>

    <!-- objectives -->
    <div *ngIf="currentPage === 'objectives'">
      <!-- objectives damage section -->
      <div class="team-box">
        <div class="team-row">
          <app-radient class="sides-icon"></app-radient>
          <app-nav-title [title]="matchData?.radiant_team ? matchData?.radiant_team?.name + ' - Objectives Damage' : 'Radiant - Objectives Damage'"> {{matchData.radiant_win ? 'WINNER' : ''}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-objective-damage
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 0:5">
        </app-table-match-detail-objective-damage>
        <!-- table -->
      </div>
      <!-- team-box -->

      <div class="team-box">
        <div class="team-row">
          <app-dire class="sides-icon"></app-dire>
          <app-nav-title [title]="matchData?.dire_team ? matchData?.dire_team?.name + ' - Objectives Damage' : 'Dire - Objectives Damage'"> {{matchData.radiant_win ? '' : 'WINNER'}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-objective-damage
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 5:10">
        </app-table-match-detail-objective-damage>
        <!-- table -->
      </div>
      <!-- team-box -->

      <!-- runes section -->
      <div class="team-box">
        <div class="team-row">
          <app-radient class="sides-icon"></app-radient>
          <app-nav-title [title]="matchData?.radiant_team ? matchData?.radiant_team?.name + ' - Runes' : 'Radiant - Runes'"> {{matchData.radiant_win ? 'WINNER' : ''}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-runes
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 0:5">
        </app-table-match-detail-runes>
        <!-- table -->
      </div>
      <!-- team-box -->

      <div class="team-box">
        <div class="team-row">
          <app-dire class="sides-icon"></app-dire>
          <app-nav-title [title]="matchData?.dire_team ? matchData?.dire_team?.name + ' - Runes' : 'Dire - Runes'"> {{matchData.radiant_win ? '' : 'WINNER'}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-runes
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 5:10">
        </app-table-match-detail-runes>
        <!-- table -->
      </div>
      <!-- team-box -->

    </div>

    <!-- vision -->
    <div *ngIf="currentPage === 'vision'">
      <div class="team-box vision-map-show-hide-timeline-row">
        <app-vision-map
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [heroesNameLocal]="heroNames"
          [data]="matchData?.players"
          [showHideVisionPlayersData]="showHideVisionPlayersData"
          [visionTimeLine]="visionTimeLine"
        >
        ></app-vision-map>
        <div class="vision-timeline-show-hide-col">
          <!-- timeline goes here -->
          <div class="vision-timeline">
            <div class="vision-timeline-current">{{visionTimeLine === -90 ? 'All time' : (visionTimeLine | durationFormat)}}</div>
            <div class="vision-timeline-per-min-step-row">
              <span
                (click)="visionTimeLine = (item * 600)"
                class="vision-time-per-min-step"
                *ngFor="let item of visionTimeLinePerMinSteps"
                [style]="'left:' + ((item * 600 + 90) / (matchData?.duration + 90) * 100) + '%'"
              >
                {{item * 600 | durationFormat}}
              </span>
            </div>
            <mat-slider
              [displayWith]="durationLabel"
              thumbLabel
              step="5"
              [value]="visionTimeLine"
              (change)="updatevisionTimeLine($event)"
              min="-90"
              [max]="matchData?.duration"
            ></mat-slider>
          </div>
          <div class="team-box">
            <div class="team-row">
              <app-radient class="sides-icon"></app-radient>
              <app-nav-title [title]="matchData?.radiant_team ? matchData?.radiant_team?.name : 'Radiant'"></app-nav-title>
            </div>
            <!-- team-row -->
            <app-table-match-detail-vision-showhide
              [heroesLocal]="heroes"
              [data]="matchData?.players | slice: 0:5"
              (emitShowHideVisionPlayersData)="emitShowHideVisionPlayersData($event)"
            >
            </app-table-match-detail-vision-showhide>
            <!-- table -->
          </div>
          <!-- team-box -->
    
          <div class="team-box">
            <div class="team-row">
              <app-dire class="sides-icon"></app-dire>
              <app-nav-title [title]="matchData?.dire_team ? matchData?.dire_team?.name : 'Dire'"> </app-nav-title>
            </div>
            <!-- team-row -->
            <app-table-match-detail-vision-showhide
              [heroesLocal]="heroes"
              [data]="matchData?.players | slice: 5:10"
              (emitShowHideVisionPlayersData)="emitShowHideVisionPlayersData($event)"
            >
            </app-table-match-detail-vision-showhide>
            <!-- table -->
          </div>
          <!-- team-box -->
        </div>
      </div>

      <div class="team-box">
        <div class="team-row">
          <app-radient class="sides-icon"></app-radient>
          <app-nav-title [title]="matchData?.radiant_team ? matchData?.radiant_team?.name + ' - Vision' : 'Radiant - Vision'"> {{matchData.radiant_win ? 'WINNER' : ''}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-vision
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 0:5"></app-table-match-detail-vision>
        <!-- table -->
      </div>
      <!-- team-box -->

      <div class="team-box">
        <div class="team-row">
          <app-dire class="sides-icon"></app-dire>
          <app-nav-title [title]="matchData?.dire_team ? matchData?.dire_team?.name + ' - Vision' : 'Dire - Vision'"> {{matchData.radiant_win ? '' : 'WINNER'}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-vision
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 5:10">
        </app-table-match-detail-vision>
        <!-- table -->
      </div>
      <!-- team-box -->

      <app-nav-title [title]="'Ward Log'"></app-nav-title>
      <app-table-match-detail-ward-log
        [playerColorLocal]="playerColors"
        [heroesLocal]="heroes"
        [visionTimeLine]="visionTimeLine"
        [heroesNameLocal]="heroNames"
        [data]="matchData?.players"
        [showHideVisionPlayersData]="showHideVisionPlayersData"
      >
      </app-table-match-detail-ward-log>
    </div>

    <!-- actions -->
    <div *ngIf="currentPage === 'actions'" class="single-match-actions">
      <div class="team-box">
        <div class="team-row">
          <app-radient class="sides-icon"></app-radient>
          <app-nav-title [title]="matchData?.radiant_team ? matchData?.radiant_team?.name + ' - Actions' : 'Radiant - Actions'"> {{matchData.radiant_win ? 'WINNER' : ''}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-actions
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 0:5"></app-table-match-detail-actions>
        <!-- table -->
      </div>
      <!-- team-box -->

      <div class="team-box">
        <div class="team-row">
          <app-dire class="sides-icon"></app-dire>
          <app-nav-title [title]="matchData?.dire_team ? matchData?.dire_team?.name + ' - Actions' : 'Dire - Actions'"> {{matchData.radiant_win ? '' : 'WINNER'}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-actions
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 5:10">
        </app-table-match-detail-actions>
        <!-- table -->
      </div>
      <!-- team-box -->
    </div>

    <!-- team fights -->
    <div *ngIf="currentPage === 'teamfights'">
      <!-- team fight time line -->
      <app-time-line-teamfight
        (emitCurrentTeamFightData)="emitCurrentTeamFightData($event)"
        [playerColorLocal]="playerColors"
        [heroesLocal]="heroes"
        [heroesNameLocal]="heroNames"
        [data]="matchData"
      ></app-time-line-teamfight>

      <div class="team-fight-detail">
        <!-- team fight map -->
        <div class="team-fight-detail-map" *ngIf="currentTeamFightDataForMap">
          <div class="team-fight-detail-duration">{{currentTeamFightDataForMap.start | durationFormat}} - {{currentTeamFightDataForMap.end | durationFormat}}</div>
          <div class="team-fight-detail-deaths">
            Total
            <img
            class="death-icon-img"
            onError="this.src='./assets/images/Dota2Logo.svg'"
            src="./assets/images/player_death.png" />: {{currentTeamFightDataForMap.deaths}}
          </div>
          <div class="team-fight-detail-winner">
            <app-radient class="sides-icon" *ngIf="currentTeamFightDataForMap.isRadient"></app-radient>
            <app-dire class="sides-icon" *ngIf="!currentTeamFightDataForMap.isRadient"></app-dire>
            <span class="gold-num">
              {{currentTeamFightDataForMap.gold_delta_total}}
            </span>
          </div>
        </div>
        <!-- team-fight-detail-map -->
        <div class="team-fight-detail-table">
          <div class="team-box">
            <div class="team-row">
              <app-radient class="sides-icon"></app-radient>
              <app-nav-title [title]="matchData?.radiant_team ? matchData?.radiant_team?.name + ' - Teamfights' : 'Radiant - Teamfights'"> {{matchData.radiant_win ? 'WINNER' : ''}}</app-nav-title>
            </div>
            <!-- team-row -->
            <app-table-match-detail-teamfights
              [playerColorLocal]="playerColors"
              [heroesLocal]="heroes"
              [currentTeamFightDataForTable]="currentTeamFightDataForTable"
              [data]="matchData?.players"
              [dataRange]="[0, 5]"

              [itemsLocal]="items"
              (showItemModalFn)="showItemModalFn($event)"
              (hideItemModalFn)="showItemModal=false; currentMouseOverItem = null"
              [abilitiesTalentsLocal]="abilities"
              (showAbilityModalFn)="showAbilityModalFn($event)"
              (hideAbilityModalFn)="showAbilityModal=false; currentMouseOverAbilityName = null"  
            >
            </app-table-match-detail-teamfights>
            <!-- table -->
          </div>
          <!-- team-box -->

          <div class="team-box">
            <div class="team-row">
              <app-dire class="sides-icon"></app-dire>
              <app-nav-title [title]="matchData?.dire_team ? matchData?.dire_team?.name + ' - Teamfights' : 'Dire - Teamfights'"> {{matchData.radiant_win ? '' : 'WINNER'}}</app-nav-title>
            </div>
            <!-- team-row -->
            <app-table-match-detail-teamfights
              [playerColorLocal]="playerColors"
              [heroesLocal]="heroes"
              [currentTeamFightDataForTable]="currentTeamFightDataForTable"
              [data]="matchData?.players"
              [dataRange]="[5, 10]"
              
              [itemsLocal]="items"
              (showItemModalFn)="showItemModalFn($event)"
              (hideItemModalFn)="showItemModal=false; currentMouseOverItem = null"
              [abilitiesTalentsLocal]="abilities"
              (showAbilityModalFn)="showAbilityModalFn($event)"
              (hideAbilityModalFn)="showAbilityModal=false; currentMouseOverAbilityName = null" 
            >
            </app-table-match-detail-teamfights>
            <!-- table -->
          </div>
          <!-- team-box -->
          </div>
          <!-- team fight detail table -->
        </div>
      <!-- team fight detail -->
    </div>

    <!-- Cosmetics -->
    <div *ngIf="currentPage === 'cosmetics' && matchData?.cosmetics">
      <app-nav-title [title]="'Cosmetics'"></app-nav-title>
      <app-table-cosmetics
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players"
      ></app-table-cosmetics>
    </div>

    <!-- analysis -->
    <div *ngIf="currentPage === 'analysis'">
      <div class="team-box">
        <div class="team-row">
          <app-radient class="sides-icon"></app-radient>
          <app-nav-title [title]="matchData?.radiant_team ? matchData?.radiant_team?.name + ' - Analysis' : 'Radiant - Analysis'"> {{matchData.radiant_win ? 'WINNER' : ''}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-analysis
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 0:5"

          [laneRoleLocal]="laneRoleLocal"
        >
        </app-table-match-detail-analysis>
        <!-- table -->
      </div>
      <!-- team-box -->

      <div class="team-box">
        <div class="team-row">
          <app-dire class="sides-icon"></app-dire>
          <app-nav-title [title]="matchData?.dire_team ? matchData?.dire_team?.name + ' - Analysis' : 'Dire - Analysis'"> {{matchData.radiant_win ? '' : 'WINNER'}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-analysis
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 5:10"
          
          [laneRoleLocal]="laneRoleLocal"
        >
        </app-table-match-detail-analysis>
        <!-- table -->
      </div>
      <!-- team-box -->
    </div>

    <!-- log -->
    <div *ngIf="currentPage === 'log'">
      <!-- filter row -->
      <!-- log table -->
      <app-table-log
        [playerColorLocal]="playerColors"
        [heroesLocal]="heroes"
        [heroesNameLocal]="heroNames"
        [mapItemLocal]="mapItemLocal"
        [data]="matchData?.players"
        [objectives]="matchData?.objectives"
      ></app-table-log>
    </div>

    <!-- Fantasy -->
    <div *ngIf="currentPage === 'fantasy'">
      <div class="team-box">
        <div class="team-row">
          <app-radient class="sides-icon"></app-radient>
          <app-nav-title [title]="matchData?.radiant_team ? matchData?.radiant_team?.name + ' - Fantasy' : 'Radiant - Fantasy'"> {{matchData.radiant_win ? 'WINNER' : ''}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-fantasy
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 0:5"></app-table-match-detail-fantasy>
        <!-- table -->
      </div>
      <!-- team-box -->

      <div class="team-box">
        <div class="team-row">
          <app-dire class="sides-icon"></app-dire>
          <app-nav-title [title]="matchData?.dire_team ? matchData?.dire_team?.name + ' - Fantasy' : 'Dire - Fantasy'"> {{matchData.radiant_win ? '' : 'WINNER'}}</app-nav-title>
        </div>
        <!-- team-row -->
        <app-table-match-detail-fantasy
          [playerColorLocal]="playerColors"
          [heroesLocal]="heroes"
          [data]="matchData?.players | slice: 5:10">
        </app-table-match-detail-fantasy>
        <!-- table -->
      </div>
      <!-- team-box -->
    </div>

    <!-- chats -->
    <div *ngIf="currentPage === 'chat' && matchData?.chat">
      <app-nav-title [title]="'Chat'"> ({{matchData?.chat.length}})</app-nav-title>
      <!-- filter chat -->
      <app-chats-list
        [playerColors]="playerColors"
        [heroes]="heroes"
        [chatWheel]="chatWheel"
        [data]="matchData?.players"
        [chats]="matchData?.chat"
      ></app-chats-list>
    </div>

      
  </ng-template>
</div>

<app-ability-modal [abilitiesTalentsLocal]="abilities" *ngIf="showAbilityModal" [item]='currentMouseOverAbilityName' [pageXY] = 'pageXY'></app-ability-modal>
<app-item-modal [items]="items" *ngIf="showItemModal" [aghs]="currentMouseOverAghs" [item]='currentMouseOverItem' [pageXY] = 'pageXY' class="item-modal"></app-item-modal>