@import '../../../../styles.scss';


.team-row {
  display: flex;
}

.sides-icon {
  display: inline-block;
  margin-right: 10px;
  ::ng-deep {
    svg {
      width: 30px;
    }
  }
}

.team-box {
  padding-bottom: 15px;
}

.vision-map-show-hide-timeline-row {
  display: flex;
  
  .vision-timeline-show-hide-col {
    padding-left: 75px;
    flex-grow: 2;
  }
}


// overview bottom build map and advantage chart
.build-map-advantage {
  display: flex;
}



.killed-damage-by-txt {
  border: 1px solid $red;
  padding: 0 5px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  font-size: 10px;
}

.killed-damage-txt {
  font-size: 10px;
  border: 1px solid $green;
  padding: 0 5px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
}

// overview-map-adv
.overview-map-adv {
  display: flex;

  .overview-adv {
    width: 70%;

    ::ng-deep {
      .chart {
        width: 100%;
      }
    }
  }
}

.warning {
  text-align: center;
  color: $orange;
  padding-bottom: 15px;
}

// team fight
.team-fight-detail {
  display: flex;

  .team-fight-detail-map {
    width: 400px;
  }

  .team-fight-detail-table {
    flex-grow: 2;
  }
}

.gold-num {
  color: $orange;
  background: url(../../../../assets/images/gold.png) no-repeat 100% center;
  padding-right: 32px;
  font-size: 12px;
  height: 17px;
  line-height: 17px;
}

// vision map timeline
.vision-timeline {
  padding-bottom: 30px;

  .vision-timeline-current {
    padding-bottom: 20px;
  }

  .vision-timeline-per-min-step-row {
    width: 100%;
    position: relative;
    padding-bottom: 20px
  }

  .vision-time-per-min-step {
    position: absolute;
    border-left: 1px solid $gray;
    padding-bottom: 23px;
    padding-left: 10px;
    color: $dark-blue;
    cursor: pointer;
  }
}

// slider
::ng-deep {
  .mat-slider-horizontal .mat-slider-thumb-label {
    right: -20px!important;
    top: -52px!important;
    width: 40px!important;
    height: 40px!important;
  }

  .mat-slider-horizontal .mat-slider-wrapper {
    left: 0!important;
    right: 0!important;
  }
  
  mat-slider {
    padding: 0!important;
    width: 100%!important;
  }
}


// laning
.map-last-hit-denies-row {
  display: flex;
  justify-content: space-between;
}

.lane-lh-dn {
  width: 80%;

  ::ng-deep {
    .chart {
      width: 100%;
    }
  }
}

.lane-map {
  width: calc(100% - 80% - 15px);
  padding-right: 15px;
}