@import '../../../../styles.scss';


.team-row {
  display: flex;
}

.sides-icon {
  display: inline-block;
  margin-right: 10px;
  ::ng-deep {
    svg {
      width: 30px;
    }
  }
}

.team-box {
  padding-bottom: 15px;
}

.vision-map-show-hide-timeline-row {
  display: flex;
  
  .vision-timeline-show-hide-col {
    padding-left: 75px;
    flex-grow: 2;
  }
}


// overview bottom build map and advantage chart
.build-map-advantage {
  display: flex;
}



.killed-damage-by-txt {
  border: 1px solid $red;
  padding: 0 5px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  font-size: 10px;
}

.killed-damage-txt {
  font-size: 10px;
  border: 1px solid $green;
  padding: 0 5px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
}

// overview-map-adv
.overview-map-adv {
  display: flex;

  .overview-adv {
    width: 70%;

    ::ng-deep {
      .chart {
        width: 100%;
      }
    }
  }
}

.warning {
  text-align: center;
  color: $orange;
  padding-bottom: 15px;
}

// team fight
.team-fight-detail {
  display: flex;

  .team-fight-detail-map {
    width: 400px;
  }

  .team-fight-detail-table {
    flex-grow: 2;
  }
}

.gold-num {
  color: $orange;
  background: url(../../../../assets/images/gold.png) no-repeat 100% center;
  padding-right: 32px;
  font-size: 12px;
  height: 17px;
  line-height: 17px;
}