<div *ngIf="isLoading">Loading</div>
<div *ngIf="!isLoading">
  <div *ngIf="dataSource.data.length === 0; else hasData">No data</div>
  <ng-template #hasData>
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- match_id Column -->
      <ng-container matColumnDef="start_time" *ngIf="displayedColumns.includes('start_time')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element">
          <div class="ver-align">
            <div>
              <a class="account_link" [routerLink]="['/matches', element.match_id]">{{element.match_id}} ></a>
              <span class="date-time">
                <span class="date-time-value" [matTooltip]="element.start_time * 1000 | date: 'mediumDate'" matTooltipPosition="above">{{element.start_time * 1000 | dateTillToday }}</span>
              </span>
            </div>
            <div class="rank-tier" [matTooltip]="element.avg_rank_tier | rankTier" matTooltipPosition="above">
              <!-- if players in leaderboard rank -->
              <span class="leaderboard-rank" *ngIf="element.leaderboard_rank">{{element.leaderboard_rank}}</span>
              <!-- if players in leaderboard rank then no start -->
              <img class="rank-start" *ngIf="element.avg_rank_tier !== null && element.avg_rank_tier.toString()[1] !== '0'" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_star_{{element.avg_rank_tier.toString()[1]}}.png' />
              <!-- 
                rank icon if immortal, the icon base on the leaderboar rank
                
              -->
              <img class="rank-icon" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_icon_{{element.avg_rank_tier !== null ? element.avg_rank_tier.toString()[0] : "0"}}{{element.leaderboard_rank >= 1  &&  element.leaderboard_rank <= 10 ? "c" : (element.leaderboard_rank <=100 && element.leaderboard_rank > 10 ? "b" : "")}}.png' />
            </div>
            <!-- rank tier -->
          </div>
        </td>
      </ng-container>

      <!-- duration Column -->
      <ng-container matColumnDef="duration" *ngIf="displayedColumns.includes('duration')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="The length of the match" matTooltipPosition="above"> DURATION </th>
        <td mat-cell *matCellDef="let element">
          <div>
            {{element.duration | durationFormat}}
          </div>
        </td>
      </ng-container>

      <!-- radient column -->
      <ng-container matColumnDef="radiant_team" *ngIf="displayedColumns.includes('radiant_team')">
        <th mat-header-cell *matHeaderCellDef> RADIENT </th>
        <td mat-cell *matCellDef="let element">
          <div class="teams">
            <app-win *ngIf="element.radiant_win" class="icon-win"></app-win>
            <span *ngFor="let item of element.radiant_team.split(',')">
              <img width="52" height="29"
                class="hero-img"
                (click)="goPage(item)"
                *ngIf="item && heroesLocal && heroesLocal[item]['img']"
                src="https://steamcdn-a.akamaihd.net/{{heroesLocal[item]['img']}}"
              />
            </span>
          </div>
        </td>
      </ng-container>

      <!-- dire column -->
      <ng-container matColumnDef="dire_team" *ngIf="displayedColumns.includes('dire_team')">
        <th mat-header-cell *matHeaderCellDef> DIRE </th>
        <td mat-cell *matCellDef="let element">
          <div class="teams">
            <app-win *ngIf="!element.radiant_win" class="icon-win"></app-win>
            <span *ngFor="let item of element.dire_team.split(',')">
              <img width="52" height="29"
              class="hero-img"
              (click)="goPage(item)"
              *ngIf="item && heroesLocal && heroesLocal[item]['img']"
              src="https://steamcdn-a.akamaihd.net/{{heroesLocal[item]['img']}}"
              />
            </span>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-template>
</div>