<div  class="fist-blood-tooltip" *ngIf="heroesLocal && data" [style]="'left:' + pageXY[0] + 'px; top:' + pageXY[1] + 'px'">
  <app-hero-icon-player-name
    [player]="data?.drewPlayer"
    [heroesLocal]="heroesLocal"
    [playerColorLocal]="playerColorLocal"
  ></app-hero-icon-player-name>
  <span class="first-blood-txt">
    drew first blood by killg
  </span>
  <app-hero-icon-player-name
    [player]="data?.takenPlayer"
    [heroesLocal]="heroesLocal"
    [playerColorLocal]="playerColorLocal"
  ></app-hero-icon-player-name>
</div>