@import '../../../../styles.scss';
// override the table style

.mat-table {
  border: 1px solid rgba($color: $white, $alpha: 0.03);
  background: none;
  width: 100%;

  th {
    background: rgba($color: $white, $alpha: 0.03);
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 10px;
  }
  
  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 10px;
  }

  td {
    color: $gray;
    font-size: 13px;
  }
}

.kda-bar-box {
  position: relative;
}
.kda-bar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 280%;
  cursor: pointer;
}


// match detail performance
.max-hero-hit-ability {
  position: relative;
  cursor: pointer;
  width: 29px;
  height: 29px;
  display: inline-block;

  .max-hero-hit-value {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: .6);
    color: $white;
    display: inline-block;
    font-size: 10px;
    text-align: center;
  }
}

.hero-img {
  display: inline-block;
}