<div class="nav-wrapper">
  <nav>
    <a [routerLink]="['home']" routerLinkActive="active" class="logo">
      {{currentVersion}}
    </a>
    <a [routerLink]="['heroes']" routerLinkActive="active">Heroes</a>
    <a [routerLink]="['matches']" routerLinkActive="active">Matches</a>
    <a [routerLink]="['teams']" routerLinkActive="active">Teams</a>
    <a [routerLink]="['records']" routerLinkActive="active">Records</a>
    <a [routerLink]="['rank-tier']" routerLinkActive="active">Rank Tier</a>
    <a [routerLink]="['items']" routerLinkActive="active">Items</a>
    
    <form class="search-form">
      <mat-form-field class="search-form-width">
        <mat-label>Search by player name, match ID</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input [ngModel]="searchTerm" name="searchTerm" matInput placeholder="Search by player name, match ID" (keydown)="doSearch($event)">
      </mat-form-field>
    </form>
    <a [routerLink]="['players/128741677/overview']" routerLinkActive="active">My Profile</a>
    <a href="https://steamloginlv.herokuapp.com/auth/steam">Login</a>
  </nav>
</div>