<table mat-table [dataSource]="dataSource" matSort>  
  <!-- name column -->
  <ng-container matColumnDef="player_slot">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> PLAYER </th>
    <td mat-cell *matCellDef="let element">
      <app-player-box [data]="element" [heroes]="heroes" [playerColorLocal]="playerColorLocal"></app-player-box>
    </td>
  </ng-container>
  
  <ng-container matColumnDef="lane">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> LANE </th>
    <td mat-cell *matCellDef="let element">
      {{element.lane}}
      <span *ngIf="laneRole && element.lane && laneRole[element.lane]?.name">
        {{laneRole[element.lane]?.name  | nameDestruct: '_' : 2 : 'upperCase'}}
      </span>
    </td>
  </ng-container>
  
  <ng-container matColumnDef="lane_role">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> LANE ROLE </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="laneRole && element.lane_role && laneRole[element.lane_role]?.name">
        {{laneRole[element.lane_role]?.name  | nameDestruct: '_' : 2 : 'upperCase'}}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="analysis">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true">Analysis</th>
    <td mat-cell *matCellDef="let element">
      Lane efficiency: {{element.lane_efficiency | number: '1.0-2'}} /
      <br/>
      Runes obtained: {{element.runes}}
      <br/>
      Wards placed: {{element.observer_uses}}
    </td>
  </ng-container>

  
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>