<div class="filter-bar">
  <button mat-button (click)="hideFilter = !hideFilter" matTooltip="Filter" matTooltipPosition="above"><mat-icon>filter_list</mat-icon></button>
  <button mat-button (click)="clearQueryParams()" *ngIf="queryParamsHasValue" matTooltip="Clear filter" matTooltipPosition="above"><mat-icon>clear</mat-icon></button>
</div>

<!-- heros dropdown -->
<div class="filter-row" *ngIf="!hideFilter">
  <app-dropdown
    [data]="herosData.heros"
    *ngIf="heroGeneral$ | async as herosData"
    [model]="currentSelectedHero"
    (setEventEmit)="setQueryParams([$event,'hero_id'])"
    [defaultValue]="setDropdownDefaultValue(['Hero', 'hero_id', heroes])"
    matTooltip="Hero"
    matTooltipPosition="above"
    [sortBy] = "'localized_name'"
  >
  </app-dropdown>

  <!-- sides dropdown -->
  <app-dropdown
    [data]="sidesData"
    *ngIf="sidesData"
    [model]="currentSelectedSide"
    (setEventEmit)="setQueryParams([$event,'is_radiant'])"
    [defaultValue]="setDropdownDefaultValue(['Side', 'is_radiant', sidesData])"
    matTooltip="Side"
    matTooltipPosition="above"
    [sortBy] = "'id'"
    [order] = "'desc'"
  >
  </app-dropdown>

  <!-- Result dropdown -->
  <app-dropdown
    [data]="resultsData"
    *ngIf="resultsData"
    [model]="currentSelectedResult"
    (setEventEmit)="setQueryParams([$event,'win'])"
    [defaultValue]="setDropdownDefaultValue(['Result', 'win', resultsData])"
    matTooltip="Result"
    matTooltipPosition="above"
    [sortBy] = "'id'"
    [order] = "'desc'"
  >
  </app-dropdown>

  <!-- Land role dropdown -->
  <app-dropdown
    [data]="laneRole"
    *ngIf="laneRole"
    [model]="currentSelectedLand"
    (setEventEmit)="setQueryParams([$event,'lane_role'])"
    [defaultValue]="setDropdownDefaultValue(['Land', 'lane_role', laneRole]) | nameDestruct: '_' : 2"
    matTooltip="Land"
    matTooltipPosition="above"
  >
  </app-dropdown>

  <!-- patch dropdown -->
  <app-dropdown
  [data]="patch"
  *ngIf="patch"
  [model]="currentSelectedPatch"
  (setEventEmit)="setQueryParams([$event,'patch'])"
  [defaultValue]="setDropdownDefaultValue(['Patch', 'patch', patch])"
  matTooltip="Patch"
  matTooltipPosition="above"
  [sortBy] = "'id'"
  [order] = "'desc'"
  >
  </app-dropdown>

  <!-- game mode -->
  <app-dropdown
  [data]="gameMode"
  *ngIf="gameMode"
  [model]="currentSelectedGameMode"
  (setEventEmit)="setQueryParams([$event,'game_mode'])"
  [defaultValue]="setDropdownDefaultValue(['Game Mode', 'game_mode', gameMode]) | nameDestruct: '_' : 2"
  matTooltip="Game Mode"
  matTooltipPosition="above"
  >
  </app-dropdown>

  <!-- Lobby Type -->
  <app-dropdown
  [data]="lobbyType"
  *ngIf="lobbyType"
  [model]="currentSelectedLobbyType"
  (setEventEmit)="setQueryParams([$event,'lobby_type'])"
  [defaultValue]="setDropdownDefaultValue(['Lobby Type', 'lobby_type', lobbyType])"
  matTooltip="Lobby Type"
  matTooltipPosition="above"
  >
  </app-dropdown>

  <!-- Date -->
  <app-dropdown
    [data]="datesData"
    *ngIf="datesData"
    [model]="currentSelectedDate"
    (setEventEmit)="setQueryParams([$event,'date'])"
    [defaultValue]="setDropdownDefaultValue(['Date', 'date', datesData])"
    matTooltip="Date"
    matTooltipPosition="above"
  >
  </app-dropdown>


  <!-- Region data -->
  <app-dropdown
  [data]="region"
  *ngIf="region"
  [model]="currentSelectedRegion"
  (setEventEmit)="setQueryParams([$event,'region'])"
  [defaultValue]="setDropdownDefaultValue(['Region', 'region', region])"
  matTooltip="Region"
  matTooltipPosition="above"
  >
  </app-dropdown>

  <!-- With hero -->
  <app-dropdown
  [data]="herosData.heros"
  *ngIf="heroGeneral$ | async as herosData"
  [model]="currentSelectedAlliedHero"
  (setEventEmit)="setQueryParams([$event,'with_hero_id'])"
  [defaultValue]="setDropdownDefaultValue(['Allied Heroes', 'with_hero_id', heroes])"
  matTooltip="Allied Heroes"
  matTooltipPosition="above"
  [sortBy] = "'localized_name'"
  >
  </app-dropdown>

  <!-- Agaist hero dropdown -->
  <app-dropdown
  [data]="herosData.heros"
  *ngIf="heroGeneral$ | async as herosData"
  [model]="currentSelectedOpposingHero"
  (setEventEmit)="setQueryParams([$event,'against_hero_id'])"
  [defaultValue]="setDropdownDefaultValue(['Opposing Heroes', 'against_hero_id', heroes])"
  matTooltip="Opposing Heroes"
  matTooltipPosition="above"
  [sortBy] = "'localized_name'"
  >
  </app-dropdown>

  <!-- includeplay peer dropdown -->
  <app-dropdown
  [data]="playersPeersFilterDataDe"
  *ngIf="playersPeersFilterDataDe"
  [model]="currentSelectedIncludedAccountId"
  (setEventEmit)="setQueryParams([$event,'included_account_id'])"
  [defaultValue]="setDropdownDefaultValue(['Included Account ID', 'included_account_id', playersPeersFilterDataDe])"
  matTooltip="Included Account ID"
  matTooltipPosition="above"
  [sortBy] = "'games'"
  [order] = "'desc'"
  >
  </app-dropdown>

  <!-- exclude play peer dropdown -->
  <app-dropdown
  [data]="playersPeersFilterDataDe"
  *ngIf="playersPeersFilterDataDe"
  [model]="currentSelectedExcludedAccountId"
  (setEventEmit)="setQueryParams([$event,'excluded_account_id'])"
  [defaultValue]="setDropdownDefaultValue(['Excluded Account ID', 'excluded_account_id', playersPeersFilterDataDe])"
  matTooltip="Excluded Account ID"
  matTooltipPosition="above"
  [sortBy] = "'games'"
  [order] = "'desc'"
  >
  </app-dropdown>

  <!-- insignificant dropdown -->
  <app-dropdown
    [data]="insignificantData"
    *ngIf="insignificantData"
    [model]="currentSelectedInsignification"
    (setEventEmit)="setQueryParams([$event,'significant'])"
    [defaultValue]="setDropdownDefaultValue(['Insignificant', 'significant', insignificantData])"
    matTooltip="Insignificant"
    matTooltipPosition="above"
    >
    
  </app-dropdown>

  <!-- Have dropdown -->
  <app-dropdown
  [data]="havingData"
  *ngIf="havingData"
  [model]="currentSelectedHaving"
  (setEventEmit)="setQueryParams([$event,'having'])"
  [defaultValue]="setDropdownDefaultValue(['At Least The Many Matches', 'having', havingData])"
  matTooltip="At Least The Many Matches"
  matTooltipPosition="above"
  >
  </app-dropdown>

  <!-- Party Size dropdown -->
  <app-dropdown
  [data]="partySizeData"
  *ngIf="partySizeData"
  [model]="currentSelectedPartySize"
  (setEventEmit)="setQueryParams([$event,'party_size'])"
  [defaultValue]="setDropdownDefaultValue(['Party Size', 'party_size', partySizeData])"
  matTooltip="Party Size"
  matTooltipPosition="above"
  >
  </app-dropdown>
</div>




