<table mat-table [dataSource]="dataSource" matSort>  
  <!-- name column -->
  <ng-container matColumnDef="player_slot" *ngIf="displayedColumns.includes('player_slot')">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> PLAYER </th>
    <td mat-cell *matCellDef="let element">
      <app-player-box [data]="element" [heroes]="heroes" [playerColors]="playerColors"></app-player-box>
    </td>
  </ng-container>

  <!-- fantasy pts column -->
  <ng-container matColumnDef="fantasy_pts" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"> FANTASY PTS </th>
    <td mat-cell *matCellDef="let element">
      {{calTotalFantasyPts(element) | number: '1.0-2' | greaterNum: '1000': 'k'}}
    </td>
  </ng-container>

  <!-- fantasy item columns list -->
  <ng-container [matColumnDef]="item" *ngFor="let item of displayedColumns | slice : 2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]="fantasyObj[item]?.tooltip" matTooltipPosition="above" [disabled]="true">{{fantasyObj[item]?.title}}</th>
    <td mat-cell *matCellDef="let element">
      <span
        [matTooltip]="element[item] + ' for ' + ((element[item] * fantasyObj[item]?.fantasy_pts_base) | number: '1.0-2' | greaterNum: '1000': 'k') + 'points'" matTooltipPosition="above"
        class="fantasy-pts" *ngIf="item !== 'deaths'; else deathsFantasyPts">{{(element[item] * fantasyObj[item]?.fantasy_pts_base) | number: '1.0-2' | greaterNum: '1000': 'k'}}
      </span>
      <ng-template #deathsFantasyPts>
        <span class="fantasy-pts" [matTooltip]="element[item] + ' for ' + (((10 - element[item]) * fantasyObj[item]?.fantasy_pts_base) | number: '1.0-2' | greaterNum: '1000': 'k') + ' points'" matTooltipPosition="above">
          {{((10 - element[item]) * fantasyObj[item]?.fantasy_pts_base) | number: '1.0-2' | greaterNum: '1000': 'k'}}
        </span>
      </ng-template>
      <span class="small-txt">{{element[item] | number: '1.0-2' | greaterNum: '1000': 'k'}}</span>
    </td>
  </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>