<div *ngIf="isLoading">Loading</div>
<div *ngIf="!isLoading">
  <div *ngIf="dataSource.data.length === 0; else hasData">No data</div>
  <ng-template #hasData>
    <table mat-table [dataSource]="dataSource">
      <!-- rank column-->
      <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef>RANK</th>
        <td mat-cell *matCellDef="let element let i = index;">
          {{i + 1}}th
        </td>
      </ng-container>
      
      <!-- name column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>NAME</th>
        <td mat-cell *matCellDef="let element">
          <div class="ver-align">
            <img [src]="element.avatar"/>
            <div class="account-date">
              <div class="rank-tier" [matTooltip]="element.rank_tier | rankTier" matTooltipPosition="above">
                <!-- if players in leaderboard rank -->
                <span class="leaderboard-rank" *ngIf="element.leaderboard_rank">{{element.leaderboard_rank}}</span>
                <!-- if players in leaderboard rank then no start -->
                <img class="rank-start" *ngIf="element.rank_tier !== null && element.rank_tier.toString()[1] !== '0'" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_star_{{element.rank_tier.toString()[1]}}.png' />
                <!-- 
                  rank icon if immortal, the icon base on the leaderboar rank
                  
                 -->
                <img class="rank-icon" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_icon_{{element.rank_tier !== null ? element.rank_tier.toString()[0] : "0"}}{{element.leaderboard_rank >= 1  &&  element.leaderboard_rank <= 10 ? "c" : (element.leaderboard_rank <=100 && element.leaderboard_rank > 10 ? "b" : "")}}.png' />
              </div>
              <!-- rank tier -->
              <a class="account_link" [routerLink]="['/players', element.account_id]">
                {{element.name !== null ? element.name : element.personaname}}>
              </a>
              <mat-icon class="players-confirmed" matTooltip="Confirmed by {{element.name}}" matTooltipPosition="above" *ngIf="element.name !== null">face</mat-icon>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- score column -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>SCORE</th>
        <td mat-cell *matCellDef="let element">
          {{element.score | number :'1.0-0'}}
          <app-bar-chart [data]='[playersHeroesWithGameLargest?.score, element.score]'></app-bar-chart>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-template>
</div>