<h2 mat-dialog-title>
  <img
  onError="this.src='./assets/images/Dota2Logo.svg'"
  class="players-country" src="https://community.cloudflare.steamstatic.com/public/images/countryflags/{{data?.code}}.gif"/>
  {{data?.name}} : ({{data?.value[2]}})
</h2>
<mat-dialog-content>
  <mat-list *ngFor="let item of playerBaseTeamData">
    <div mat-subheader [class]="item.team_name === '-No Team-' ? 'no-team' : ''">
      <span>
        {{item.team_name}}
      </span>
      <span>
        <span class="sm-txt"> Current: </span> {{item.team_name !== '-No Team-' && extractPlayersCurrentLength(item.players) ? extractPlayersCurrentLength(item.players) : '0'}}
        of 
        <span class="sm-txt"> Total: </span>{{item.players.length}}
      </span>
    </div>
    <mat-list-item *ngFor="let player of item?.players" class="player-list">
      <div class="ver-align">
        <img
        width="32"
        onError="this.src='./assets/images/Dota2Logo.svg'"
        [src]="player.avatar"/>
        <div class="account-date">
          <a class="account_link" mat-dialog-close [routerLink]="['/players', player.account_id]">{{player.name ? player.name : player.personaname}} ></a>
          <span class="date-time">{{player.last_match_time | date: 'mediumDate'}}</span>
        </div>
      </div>
      <a *ngIf="player.team_id !== 0" class="account_link" mat-dialog-close [routerLink]="['/teams', player.team_id]">{{player.team_name}}</a>
      
      <!-- if team id is 0 maybe the player is deactived status -->
      <span class="team-name no-team" *ngIf="player.team_id === 0" matTooltip="Former Players" matTooltipPosition="above">{{player.team_name}}</span>

      <!-- if team name is null or no team -->
      <span class="team-name no-team" *ngIf="player.team_name === null || player.team_name.trim() === ''">N/A</span>
      
    </mat-list-item>
    <mat-divider></mat-divider>
   </mat-list>
</mat-dialog-content>
