@import '../../../../styles.scss';

.item-rarity-rare {
  border-bottom-color: $item-rarity-rare;
}

.item-rarity-legendary {
  border-bottom-color: $item-rarity-legendary;
}

.item-rarity-mythical {
  border-bottom-color: $item-rarity-mythical;
}

.item-rarity-arcana {
  border-bottom-color: $item-rarity-arcana;
}

.item-rarity-immortal {
  border-bottom-color: $item-rarity-immortal;
}

.cosmetics-list {
  display: flex;

  .cosmetics-item {
    display: inline-block;
    margin-right: 10px;

    position: relative;

    &:hover {
      .launch-icon {
        visibility: visible;
      }
    }
    
    .launch-icon {
      visibility: hidden;
      position: absolute;
      z-index: 1;
      width: 20px;
      font-size: 20px;
      color: $blue;
      bottom: 5px;
      right: 3px;
    }
  }


  img {
    cursor: pointer;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }
}