<div class="averages-maximums-list" *ngIf="data">
  <div class="item">
    <h2>WINRATE</h2>
    <span class="average-txt winrat-txt">
      {{parseAvgMaxData(data, enableTurbo)['winRate'] | percent }}
    </span>
  </div>
  <div class="item" *ngFor="let item of extraList">
      <h2>{{item | nameDestruct: '_': 0 : 'upperCase'}}</h2>
      <a [routerLink]="['/matches', parseAvgMaxData(data, enableTurbo)[item]?.maximums?.match_id]">
        <span
          class="average-txt"
          [class]="{'green-txt': item === 'kills', 'red-txt': item === 'deaths', 'gold-txt': item === 'gold_per_min', 'asasit-txt': item === 'assists'}"
        >
          {{parseAvgMaxData(data, enableTurbo)[item]?.average}}
        </span>
        <span class="maximum">{{parseAvgMaxData(data, enableTurbo)[item]?.maximums[item]}}</span>
        <img
        onError="this.src='./assets/images/Dota2Logo.svg'"
        width="23" *ngIf="heroes && parseAvgMaxData(data, enableTurbo)[item]?.maximums?.hero_id && heroes[parseAvgMaxData(data, enableTurbo)[item]?.maximums?.hero_id].icon" [src]="'https://steamcdn-a.akamaihd.net' + heroes[parseAvgMaxData(data, enableTurbo)[item]?.maximums?.hero_id].icon" [alt]="heroes[parseAvgMaxData(data, enableTurbo)[item].maximums.hero_id]?.localized_name" />
      </a>
  </div>
</div>

