<!-- matches only show after queryParams select -->
<div *ngIf="isLoading">Loading</div>
<div *ngIf="!isLoading">
  <div *ngIf="dataSource.data.length === 0; else hasData">No data</div>
  <ng-template #hasData>
    <mat-paginator  #paginator pageSize="20" hidePageSize showFirstLastButtons></mat-paginator>
    <table mat-table [dataSource]="dataSource"  matSort>

      <!-- account_id Column -->
      <ng-container matColumnDef="account_id" *ngIf="displayedColumns.includes('account_id')">
        <th mat-header-cell *matHeaderCellDef [disabled]="true"> ACCOUNT ID 123 </th>
        <td mat-cell *matCellDef="let element">
          <div class="ver-align"  *ngIf="proPlayersData">
            <img
            onError="this.src='./assets/images/portrait.png'"
            class="hero-img" width="32" src="https://steamcdn-a.akamaihd.net/{{proPlayersData[element?.account_id]?.avatar}}"
            />
            <div class="account-date">
              <a class="account_link" [routerLink]="['/players', element.account_id]">{{proPlayersData[element?.account_id] ? proPlayersData[element?.account_id]?.name : element?.account_id}}></a>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- duration Column -->
      <ng-container matColumnDef="duration" *ngIf="displayedColumns.includes('duration')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header matTooltip="The length of the match" matTooltipPosition="above"> DURATION </th>
        <td mat-cell *matCellDef="let element">
          <div>
            {{element.duration | durationFormat}}
            <p>{{element.player_slot < 128 ? 'Radiant' : 'Dire'}}</p>
          </div>
        </td>
      </ng-container>

      <!-- result column -->
      <ng-container matColumnDef="radiant_win" *ngIf="displayedColumns.includes('radiant_win')">
        <th mat-header-cell *matHeaderCellDef [disabled]="true" mat-sort-header matTooltip="Whether the player won or lose" matTooltipPosition="above"> RESULT </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <a [routerLink]="['/matches', element.match_id]"
              [class]="(element.player_slot < 128 && element.radiant_win) || (element.player_slot > 127 && !element.radiant_win) ? 'win-match' : 'lose-match'"
            >
              {{(element.player_slot < 128 && element.radiant_win) || (element.player_slot > 127 && !element.radiant_win) ? 'Won Match' : 'Lose match'}} >
          </a>
          <br/>
          <span>
            {{element.league_name}}
          </span>
          </div>
        </td>
      </ng-container>

      <!-- KDA column -->
      <ng-container matColumnDef="kills" *ngIf="displayedColumns.includes('kills')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span matTooltip="Number of kills by hero" matTooltipPosition="above">K</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="kda-bar-box">
            {{element.kills}}
            <app-bar-chart
              class="kda-bar"
              [data]='[element.kills, element.deaths, element.assists]'
              [matTooltip]="'KLA: ' + ((element.kills + element.assists) / (element.deaths + 1) | number :'1.0-2')" matTooltipPosition="above"
            >
            </app-bar-chart>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="deaths" *ngIf="displayedColumns.includes('deaths')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span matTooltip="Number of deaths by hero" matTooltipPosition="above">D</span>
        </th>
        <td mat-cell *matCellDef="let element">{{element.deaths}}</td>
      </ng-container>

      <ng-container matColumnDef="assists" *ngIf="displayedColumns.includes('assists')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span matTooltip="Number of assists by hero" matTooltipPosition="above">A</span>
        </th>
        <td mat-cell *matCellDef="let element">{{element.assists}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageIndex]="paginator?.pageIndex" [length]="paginator?.length"  [pageSize]="paginator?.pageSize" (page)="syncPrimaryPaginator($event)" hidePageSize showFirstLastButtons></mat-paginator>
  </ng-template>
</div>