@import '../../../../styles.scss';
// override the table style
.mat-paginator {
  border: 1px solid rgba($color: $white, $alpha: 0.03);
  background: none;
}
.mat-table {
  border: 1px solid rgba($color: $white, $alpha: 0.03);
  background: none;
  width: 100%;

  th {
    background: rgba($color: $white, $alpha: 0.03);
  }

  

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 10px;
  }
  
  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 10px;
  }

  td {
    color: $gray;
    font-size: 13px;
    padding-left: 4px;
  }
}

.ver-align {
  display: flex;
  align-items: center;

  .account_link {
    margin-left: 5px;
  }
}

.small-text {
  font-size: 11px;
  display: inline-block;
  padding-left: 3px;
}


.date-time {
  color: $gray;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  padding-left: 5px;
  
  .date-time-value {
    display: inline-block;
    width: 90px;
  }
}

.account-date {
  display: flex;
  flex-direction: column;
}


.kda-bar-box {
  position: relative;
}
.kda-bar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 280%;
  cursor: pointer;
}


.hero-img {
  cursor: pointer;
}

.hero-col {
  position: relative;
}


::ng-deep {
  
  .mat-sort-header-content {
    flex-direction: column;
  }
}

// col color
.immortal-col {
  background-color: $color-immortal!important;
}

.immortal-col-alt {
  background-color: $color-immortal-alt!important;
}

.divine-col {
  background-color: $color-divine!important;
}

.divine-col-alt {
  background-color: $color-divine-alt!important;
}

.ancient-col {
  background-color: $color-ancient!important;
}

.ancient-col-alt {
  background-color: $color-ancient-alt!important;
}

.legend-col {
  background-color: $color-legend!important;
}

.legend-col-alt {
  background-color: $color-legend-alt!important;
}

.archon-col {
  background-color: $color-archon!important;
}

.archon-col-alt {
  background-color: $color-archon-alt!important;
}

.cursader-col {
  background-color: $color-cursader!important;
}

.cursader-col-alt {
  background-color: $color-cursader-alt!important;
}

.guardian-col {
  background-color: $color-guardian!important;
}

.guardian-col-alt {
  background-color: $color-guardian-alt!important;
}

.herald-col {
  background-color: $color-herald!important;
}

.herald-col-alt {
  background-color: $color-herald-alt!important;
}