<div *ngIf="isLoading">Loading</div>
<div class="wrapper" *ngIf="!isLoading">
  <div class="count-box">
    <app-nav-title [title]="'Leaver Status'"></app-nav-title>
    <app-table-counts
      *ngIf="playersCountsDestructData.leaver_status && leaverStatus"
      [data]='playersCountsDestructData.leaver_status' [countTypeLocalData]="leaverStatus">
    </app-table-counts>
  </div>
  
  <div class="count-box">
    <app-nav-title [title]="'Game Mode'"></app-nav-title>
    <app-table-counts
      *ngIf="playersCountsDestructData.game_mode && gameMode"
      [data]='playersCountsDestructData.game_mode' [countTypeLocalData]="gameMode">
    </app-table-counts>
  </div>
  
  <div class="count-box">
    <app-nav-title [title]="'Lobby Type'"></app-nav-title>
    <app-table-counts
      *ngIf="playersCountsDestructData.lobby_type && lobbyType"
      [data]='playersCountsDestructData.lobby_type' [countTypeLocalData]="lobbyType">
    </app-table-counts>
  </div>
  
  <div class="count-box">
    <app-nav-title [title]="'Lane Role'"></app-nav-title>
    <app-table-counts
      *ngIf="playersCountsDestructData.lane_role && laneRole"
      [data]='playersCountsDestructData.lane_role' [countTypeLocalData]="laneRole">
    </app-table-counts>
  </div>
  
  <div class="count-box">
    <app-nav-title [title]="'Region'"></app-nav-title>
    <app-table-counts
      *ngIf="playersCountsDestructData.region && region"
      [data]='playersCountsDestructData.region' [countTypeLocalData]="region" [countType]="'region'">
    </app-table-counts>
  </div>
  
  <div class="count-box">
    <app-nav-title [title]="'Patch'"></app-nav-title>
    <app-table-counts
      *ngIf="playersCountsDestructData['patch'] && patch"
      [data]="playersCountsDestructData['patch']"
      [countTypeLocalData]="patch">
    </app-table-counts>
  </div>
  
  <div class="count-box">
    <app-nav-title [title]="'Side'"></app-nav-title>
    <app-table-counts
      *ngIf="playersCountsDestructData.is_radiant && sides"
      [data]='playersCountsDestructData.is_radiant' [countTypeLocalData]="sides">
    </app-table-counts>
  </div>
</div>