@import '../../../../styles.scss';

.players-totals-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .players-totals-box-item {
    width: 225px;
    text-align: center;
    border: 1px solid rgba($color: $black, $alpha: 35%);
    margin-bottom: 10px;

    h3 {
      font-weight: bold;
      padding: 10px 0;
      font-size: 13px;
      background-color: rgba($color: $black, $alpha: 15%);
      text-transform: uppercase;
    }

    p {
      font-size: 14px; 
    }
  }
}