.parsed {
  position: absolute;
  top: -6px;
  left: -11px;
  width: 2px;
  height: 53px;
  background-color: rgb(102, 187, 255);
}

.parsed svg {
  display: inline-block;
  color: rgb(255 255 255 / 87%);
  fill: currentcolor;
  height: 24px;
  width: 24px;
  user-select: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: relative !important;
  left: -10px !important;
  fill: rgb(102, 187, 255) !important;
}