<div class="wrapper">
  <div *ngIf="isLoading">Loading</div>
  <div *ngIf="!isLoading" class="map-list">
    <div class="map-box" *ngFor="let item of wardMaps" (click)="showLargeMap(item);" [class]="item === selectedMap ? 'show-large' : ''">
      <app-nav-title [title]="item.title"></app-nav-title>
      <div *ngIf="item.data.length === 0; else hasData">No data for ${{item.title}}</div>
      <ng-template #hasData>
        <app-ward-map-chart [data]="item"></app-ward-map-chart>
      </ng-template>
    </div>
  </div>
</div>

