<div *ngIf="isLoading">Loading</div>
<div *ngIf="!isLoading">
  <div *ngIf="dataSource.data.length === 0; else hasData">No data</div>
  <ng-template #hasData>
    <table mat-table [dataSource]="dataSource">
      <!-- rank column -->
      <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef>RANK</th>
        <td mat-cell *matCellDef="let element let i = index">
          {{i + 1 | ordinalNum}}
        </td>
      </ng-container>

      <!-- score column -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef [matTooltip]="field | nameDestruct: '_' : 0 | fieldTooltip" matTooltipPosition="above">
          {{field | nameDestruct: '_' : 0}}

        </th>
        <td mat-cell *matCellDef="let element">
          {{field === 'duration' ? (element.score | durationFormat) : (element.score | number: '1.0-0')}}
        </td>
      </ng-container>

      <!-- match_id column -->
      <ng-container matColumnDef="match_id">
        <th mat-header-cell *matHeaderCellDef matTooltip="Match ID" matTooltipPosition="above">
          MATCH ID
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="ver-align">
            <div class="account-date">
              <a class="account_link" [routerLink]="['/matches', element.match_id]">{{element.match_id}} ></a>
              <span class="date-time" [matTooltip]="element.start_time * 1000 | date: 'mediumDate'" matTooltipPosition="above">{{element.start_time * 1000 | dateTillToday }}</span>
            </div>
          </div>
        </td>
      </ng-container>
      
      <!-- hero_id Column -->
      <ng-container matColumnDef="hero_id">
        <th mat-header-cell *matHeaderCellDef matTooltip="The hero played" matTooltipPosition="above"> HERO </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.hero_id && heroes" class="ver-align">
            <app-img
              *ngIf="heroes[element['hero_id']]?.img"[data]="heroes[element['hero_id']]?.img"
              class="hero-img sm-hero-img"
              [altData]="heroes[element['hero_id']]?.localized_name"
              (mouseover)="showHeroModalFn($event, element['hero_id'])" (mouseout)="showHeroModal=false; currentMouseOverHero = null"
            ></app-img>
            <div class="account-date">
              <a class="account_link" *ngIf="element.hero_id !== '0'" [routerLink]="['/heroes', element.hero_id]">{{heroes[element.hero_id]?.localized_name}} ></a>
              <span class="account_link" *ngIf="element.hero_id === '0'">No hero</span>
              <span class="date-time" [matTooltip]="element.start_time * 1000 | date: 'mediumDate'" matTooltipPosition="above">{{element.start_time * 1000 | dateTillToday }}</span>
            </div>
          </div>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-template>

</div>

<app-hero-modal *ngIf="showHeroModal" [hero]='currentMouseOverHero' [pageXY] = 'pageXY' class="hero-modal"></app-hero-modal>