<app-nav-title [title]="'Activity'"> Click on a day for detailed information</app-nav-title>

<div *ngIf="isLoading; else playersMatchesDataList">Loading</div>
<ng-template #playersMatchesDataList>
  <div *ngIf="playersMatchesParseData.length === 0; else hasData">No data</div>
  <ng-template #hasData>
    {{currentDate}}
    <div *ngFor="let item of playersMatchesParseData" class="activities-box">
      <app-calendar-chart [data]="item" (emitClickSymble)="emitClickSymble($event)"></app-calendar-chart>
      <app-table-activities
        [heroes]="heroes"
        [lobbType]="lobbType"
        [gameMode]="gameMode"
        [skillLocal]="skillLocal"
        [data]="item?.subData[currentDate]"
        *ngIf="currentDate && item?.subData[currentDate]?.length > 0">
      </app-table-activities>
    </div>
  </ng-template>
</ng-template>
