.chart {
  height: 579px;
  width: 579px;
  background-image: url(https://www.opendota.com/assets/images/dota2/map/detailed_723.webp);
  background-position: 0, 0;
  background-repeat: no-repeat;
  background-size: contain;
}