@import '../../styles.scss';

.wrapper {
  display: flex;

  &.fixed {
    ::ng-deep {

      .patch-title {
        top: 0;
        left: 0;
        width: calc(100% - 30px);
      }
      .patch-list {
        top: 135px;
        height: calc(100% - 135px - 35px);
      }
    }
  }

  ::ng-deep {
    .patch-list {
      position: fixed;
      top: 135px;
      height: calc(100% - 135px - 35px);
      overflow-y: auto;
      width: 300px;
    }

    .patch-title {
      position: fixed;
      top: 61px;
    }

    .patch-detail {
      padding-left: 350px;
    }
  }
}