<div class="wrapper" [class]="fixed ? 'fixed' : ''">
  <!-- patches list -->
  <app-patches-list
    *ngIf="overallPatchList"
    [currentPatch]="currentPatch"
    [overallPatchList]="overallPatchList"
    (emitCurrentPatch)="emitCurrentPatch($event)"
  >
  </app-patches-list>
  <!-- patch detail -->
  <app-patch-detail
    *ngIf="currentPatch && patchnoteLocal && patchnoteLocal[currentPatch]"
    [patchnote]="patchnoteLocal[currentPatch]"
    [currentPatch]="currentPatch"
    [patchesLocalData]="patchesLocalData"
    [heroesNameLocal]="heroesNameLocal"
    [itemsLocal] = "itemsLocal"
    [itemColorLocal] = "itemColorLocal"
  >
  </app-patch-detail>
</div>