<app-nav-title [title]="'Hero Rankings'"></app-nav-title>
<p *ngIf="isLoading">Loading</p>
<table mat-table [dataSource]="dataSourceRankings" matSort *ngIf="!isLoading">
    
  <!-- hero_id Column -->
  <ng-container matColumnDef="hero_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> HERO </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.hero_id && heroesLocal" class="ver-align">
        <img
        onError="this.src='./assets/images/Dota2Logo.svg'"
        class="hero-img" width="52" height="29" src="https://steamcdn-a.akamaihd.net/{{heroesLocal[element.hero_id]['img']}}"
        (mouseover)="showHeroModalFn($event, element.hero_id)" (mouseout)="showHeroModal=false; currentMouseOverHero = null"
        />
        <a class="account_link" [routerLink]="['/heroes', element.hero_id]" *ngIf="heroesLocal && element.hero_id">{{heroesLocal[element.hero_id]['localized_name']}}></a>
      </div>
    </td>
  </ng-container>

  <!-- games Column -->
  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="This score is increased on a win and decreased on a loss. The scored points are based on the average MMR in a match" matTooltipPosition="above"> SCORE </th>
    <td mat-cell *matCellDef="let element">
      {{element.score | number :'1.0-0'}}
      <app-bar-chart [data]='[playersRankingsLargest?.score, element.score]'></app-bar-chart>
     </td>
  </ng-container>

  <!-- win_with Column -->
  <ng-container matColumnDef="percent_rank">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> PERCENTILE </th>
    <td mat-cell *matCellDef="let element">
      {{element.percent_rank * 100 | number :'1.0-1'}}
      <app-bar-chart [data]='[1, element.percent_rank]'></app-bar-chart>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsRankings"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsRankings;"></tr>
</table>
<app-hero-modal *ngIf="showHeroModal" [hero]='currentMouseOverHero' [pageXY] = 'pageXY' class="hero-modal"></app-hero-modal>
