<div  class="team-fight-tooltip" *ngIf="heroes && data" [style]="'left:' + pageXY[0] + 'px; top:' + pageXY[1] + 'px'">
  <header>Deaths & gold delta. {{data.start | durationFormat}} - {{data.end | durationFormat}}</header>
  <div class="team-fight-list"
    *ngFor="let item of data.players; index as i"
  >
    <div class="player-box">
      <app-hero-icon-player-name
        [player]="playerData[i]"
        [heroes]="heroes"
        [playerColors]="playerColors"
      ></app-hero-icon-player-name>
      
      <img
        width="24"
        height="24"
        *ngIf="item.deaths"
        onError="this.src='./assets/images/Dota2Logo.svg'"
        src="./assets/images/player_death.png" />
    </div>
    <div class="gold-delta-box">
      <mat-icon class="less-arrow" *ngIf="item.gold_delta < 0">arrow_drop_down</mat-icon>
      <mat-icon class="greater-arrow" *ngIf="item.gold_delta >0">arrow_drop_up</mat-icon>
      <span class="gold-num">{{item.gold_delta}}</span>
    </div>
  </div>
  <!-- team-fight-list -->
</div>
<!-- team-fight-tooltip -->