@import '../../../../styles.scss';

.heroes-box {
  margin: 30px auto 0;
  width: 1200px;
  border-radius: 8px;
  position: relative;
  background: rgba($color: $black, $alpha: .9);

  .heroes-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    right: 0;
    filter: blur(25px); 
    object-fit: cover;
    opacity: 0.35;
  }
}
.hero-main {
  padding: 55px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;


  .hero-main-left {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;

    .hero-main-left-img-mp-hp {
      flex-direction: column;
      position: relative;
      padding-right: 15px;
      display: flex;
    }

    .hero-hpmp {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      display: flex;
      background-color: $dark;
      padding: 3px 5px;
      color: $gray;
      font-size: 14px;
      align-items: center;
      justify-content: space-around;
        
      label {
        opacity: .7;
      }
    
      .hero-hp {
        color: $green;
      }
      
      .hero-mp {
        color: $dark-blue;
      }
    }    

    
  .hero-img {
    width: 180px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: inline-block;
    box-shadow: rgba($black, 0.4) 0px 0px 15px 2px;

  }

    .hero-primary-attr {
      width: 20px;
      z-index: 1;
      height: 20px;
      background: rgba($black, 0.4);
      border-radius: 100%;
      padding: 3px;
      position: absolute;
      top: -7.5px;
      left: -7.5px;

      .hero-attr {
        padding: 2px;
        width: 15px;
        height: 15px;
      }
    }
  }


  h3 {
    color: $white;
    margin: 0;
    font-size: 40px;
    padding-bottom: 20px;
  }

  .hero-type {
    text-transform: uppercase;
    font-size: 14px;
    color: $white;
  }

  .hero-roles {
    text-transform: uppercase;
    font-size: 14px;
    color: $gray;
  }

  .hero-attr-info {
    padding-top: 10px;
    color: $white;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    width: 200px;
    background: rgba($black, 30%);
    border-radius: 5px;
    margin: 0 auto;

    .hero-attr-row {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      &.hero-attr-row-hero-str {
        color: $hero-str;
      }
      
      &.hero-attr-row-hero-int {
        color: $hero-int;
      }
      
      &.hero-attr-row-hero-agi {
        color: $hero-agi;
      }
    }

    .hero-attr {
      border-radius: 100%;
      border: 2px solid $gray;
      width: 25px;
      padding: 5px;
      height: 25px;

      &.is-hero-primary-attr {
        border-color: $white;
      }
    }
  }
  

  .hero-main-right {
    min-width: 360px;
  }
}

.hero-ability {
  padding-top: 10px;

  img {
    display: inline-block;
    border-radius: 10px;

    &.hero-talent {
      display: inline-block;
      box-shadow: rgba($black, 40%) 0px 0px 15px 2px;
      margin-left: 10px;
    }
    
    &:hover {
      opacity: .8;
    }
  }

  .ablility-box {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;

    .mana-tip {
      position: absolute;
      z-index: 2;
      bottom: 5px;
      border-bottom-right-radius: 10px;
      padding: 0 5px;
      right: 0;
      background: $black;
      color: $dark-blue;
      font-size: 11px;
      text-align: center;
      height: 15px;
      line-height: 15px;
    }
    
    &:first-child {
      margin-left: 0;
    }

    
  }
}

.show-sub-box-box {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
}

.heroes-sub-box {
  padding: 0 0 10px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  .heroes-sub-box-col {
    width: calc(25% - 20px);
    margin: 10px;

    .heroes-sub-box-row {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      padding: 5px 10px;
      background-color: rgba($color: $black, $alpha: .5);

      &:nth-child(odd) {
        background-color: rgba($color: $black, $alpha: .3);
      }

      label {
        display: inline-block;
        width: 150px;
      }
    }
  }
}

.hero-str {
  background: $hero-str;
  background: linear-gradient(135deg, $hero-str 0%, rgba(0,0,0,1) 65%);
}

.hero-int {
  background: $hero-int;
  background: linear-gradient(135deg, $hero-int 0%, rgba(0,0,0,1) 65%);
}

.hero-agi {
  background: $hero-agi;
  background: linear-gradient(135deg, $hero-agi 0%, rgba(0,0,0,1) 65%);
}