<div *ngIf="!hero">isLoading</div>
<div class="heroes-hero" *ngIf="hero">
  <div class="heroes-box">
    <!-- for big bg -->
    <app-img [data]="hero['img']" class="heroes-bg" [altData]="hero['localized_name']"></app-img>
    <div class="hero-main">
      <div class="hero-main-left">
        <span class="hero-primary-attr">
          <app-hero-attr-str class="hero-attr" *ngIf="hero['primary_attr'] === 'str'"></app-hero-attr-str>
          <app-hero-attr-agi class="hero-attr" *ngIf="hero['primary_attr'] === 'agi'"></app-hero-attr-agi>
          <app-hero-attr-int class="hero-attr" *ngIf="hero['primary_attr'] === 'int'"></app-hero-attr-int>
        </span>
        <div class="hero-main-left-img-mp-hp">
          <app-img [data]="hero['img']" class="hero-img md-hero-img" [altData]="hero['localized_name']"></app-img>
          <!-- hero-img -->
          <div class="hero-hpmp">
            <span class="hero-hp"><label>HP</label>{{hero.base_health + hero.base_str * 20}}</span>
            /
            <span  class="hero-mp"><label>MP</label>{{hero.base_mana + hero.base_int * 12}}</span>
          </div>
          <!-- hero-hpmp -->
        </div>
        <!-- hero-main-left-img-mp-hp" -->
        <div class="hero-main-right-name-attr-info">
          <h3>{{hero.localized_name}}</h3>
          <span class="hero-type">{{hero.attack_type}} - </span>
          <span class="hero-roles" *ngFor="let role of hero.roles">{{role}}, </span>
        </div>
        <!-- hero-main-right-name-attr-info -->
      </div>
      <!-- hero-main-left -->
      <div class="hero-main-right">
        <div class="hero-attr-info">
          <span class="hero-attr-row" [class]="hero.primary_attr === 'str' ? 'hero-attr-row-hero-str' : ''">
            <app-hero-attr-str class="hero-attr" [class]="hero.primary_attr === 'str' ? 'is-hero-primary-attr' : ''"></app-hero-attr-str>
            {{hero.base_str}} + {{hero.str_gain}}
          </span>
          <span class="hero-attr-row" [class]="hero.primary_attr === 'agi' ? 'hero-attr-row-hero-agi' : ''">
            <app-hero-attr-agi class="hero-attr" [class]="hero.primary_attr === 'agi' ? 'is-hero-primary-attr' : ''"></app-hero-attr-agi>
            {{hero.base_agi}} + {{hero.agi_gain}}
          </span>
          <span class="hero-attr-row" [class]="hero.primary_attr === 'int' ? 'hero-attr-row-hero-int' : ''">
            <app-hero-attr-int class="hero-attr" [class]="hero.primary_attr === 'int' ? 'is-hero-primary-attr' : ''"></app-hero-attr-int>
            {{hero.base_int}} + {{hero.int_gain}}
          </span>
        </div>
        <!-- hero-attr-info -->
        <!-- hero-ability -->
        <div class="hero-ability" *ngIf="heroAbilities && hero && abilities">
          <app-img
            class="transparent-app-img md-abilities-img"
            [localUrl]='true'
            [data]="'./assets/images/talent_tree.svg'"
            *ngIf="heroAbilities[hero['name']]?.talents"
            (mouseover)="showTalentModalFn($event, heroAbilities[hero['name']].talents)"
            (mouseout)="showTalentModal=false; currentMouseOverTalent = null"
          ></app-img>
          <span
            *ngFor="let item of heroAbilities[hero['name']]?.abilities | excludeText: ['release', 'generic_hidden', 'rubick_hidden']"
            class="ablility-box"
            (mouseover)="showAbilityModalFn($event, item)"
            (mouseout)="showAbilityModal=false; currentMouseOverAbilityName = null"
          >
            <ng-container *ngFor="let value of abilities[item].mc | stringToArray | slice: 0:1">
              <span *ngIf="value !== '0'" class="mana-tip">{{value}}</span>
            </ng-container>
            <app-img
              class="md-abilities-img"
              [data]="'/apps/dota2/images/abilities/' +item + '_md.png'"
              [altData]="item"
            >
            </app-img>
          </span>
          <!-- heroAghsDesc -->
          <span class="aghshard-wrap"
            (mouseover)="showHeroAghsDescModalFn($event)"
            (mouseout)="showHeroAghsDescModal=false;"
          >
            <img
              class="aghanims-scepter"
              [src]="'./assets/images/scepter_' + (heroAghsDesc?.has_scepter ? '1' : '0') + '.png'"
              onError="this.src='./assets/images/Dota2Logo.svg'"
            />
            <img
              class="aghanims-shard"
              [src]="'./assets/images/shard_' + (heroAghsDesc?.has_shard ? '1' : '0') + '.png'"
              onError="this.src='./assets/images/Dota2Logo.svg'"
            />
          </span>
        </div>
        <!-- hero-talent -->
      </div>
      <!-- hero-main-right -->
    </div>
    <!-- hero-main -->
  </div>
  <!-- heroes-box -->
  <div class="show-sub-box-box">
    <button mat-stroked-button (click)="showSubBox = !showSubBox">{{showSubBox ? 'Hide Detail' : 'Show Detail'}}</button>
  </div>
  <div class="heroes-sub-box" *ngIf="showSubBox">
    <div class="heroes-sub-box-info">
      <div class="heroes-sub-box-col">
        <div class="heroes-sub-box-row">
          <label>BASE ATTACK:</label>{{hero.base_attack_min + hero.base_agi}} - {{hero.base_attack_max  + hero.base_agi}}
        </div>
        <!-- heroes-sub-box-row -->
        <div class="heroes-sub-box-row">
          <label>ATTACK RANGE:</label>{{hero.attack_range}}
        </div>
        <!-- heroes-sub-box-row -->
        <div class="heroes-sub-box-row">
          <label>ATTACK SPEED:</label>{{hero.attack_rate}}
        </div>
        <!-- heroes-sub-box-row -->
        <div class="heroes-sub-box-row">
          <label>PROJECTILE SPEED:</label>{{hero.projectile_speed}}
        </div>
        <!-- heroes-sub-box-row -->
      </div>
      <!-- heroes-sub-box-col -->
      <div class="heroes-sub-box-col">
        <div class="heroes-sub-box-row">
          <label>HEALTH:</label>{{hero.base_health + hero.base_str * 20}}
        </div>
        <!-- heroes-sub-box-row -->
        <div class="heroes-sub-box-row">
          <label>HEALTH REGEN:</label>{{hero.base_health_regen}}
        </div>
        <!-- heroes-sub-box-row -->
        <div class="heroes-sub-box-row">
          <label>MANA:</label>{{hero.base_mana + hero.base_int * 12}}
        </div>
        <!-- heroes-sub-box-row -->
        <div class="heroes-sub-box-row">
          <label>MANA REGEN:</label>{{hero.base_mana_regen}}
        </div>
        <!-- heroes-sub-box-row -->
      </div>
      <!-- heroes-sub-box-col -->
      
      <div class="heroes-sub-box-col">
        <div class="heroes-sub-box-row">
          <label>BASE ARMOR:</label>{{hero.base_armor + 0.167 * hero.base_agi | number :'1.1-1'}}
        </div>
        <!-- heroes-sub-box-row -->
        <div class="heroes-sub-box-row">
          <label>MAGIC RESISTANCE:</label>25%
        </div>
        <!-- heroes-sub-box-row -->
        <div class="heroes-sub-box-row">
          <label>MOVE SPEED:</label>{{hero.move_speed}}
        </div>
        <!-- heroes-sub-box-row -->
        <div class="heroes-sub-box-row">
          <label>TURN SPEED:</label>{{hero.turn_rate}}
        </div>
        <!-- heroes-sub-box-row -->
      </div>
      <!-- heroes-sub-box-col -->

      <div class="heroes-sub-box-col">
        <div class="heroes-sub-box-row">
          <label>NUMBER OF LEGS:</label>{{hero.legs}}
        </div>
        <!-- heroes-sub-box-row -->
        <div class="heroes-sub-box-row">
          <label>CM ENABLED:</label>{{hero.cm_enabled ? 'Yes' : 'No'}}
        </div>
        <!-- heroes-sub-box-row -->
      </div>
      <!-- heroes-sub-box-col -->
    </div>
    <div class="heroes-lore" *ngIf="heroLore[hero['localized_name']]">{{heroLore[hero['localized_name'] | lowercase]}}</div>
  </div>
  <!-- heroes-sub-box-box -->


</div>

<app-scepter-shard-modal *ngIf="showHeroAghsDescModal" [heroAghsDesc]="heroAghsDesc" [pageXY] = 'pageXY'></app-scepter-shard-modal>

<app-ability-modal [abilities]="abilities" *ngIf="showAbilityModal" [item]='currentMouseOverAbilityName' [pageXY] = 'pageXY'></app-ability-modal>

<app-talent-modal [abilities]="abilities" *ngIf="showTalentModal" [talents]='currentMouseOverTalent' [pageXY] = 'pageXY'></app-talent-modal>