<div class="content-box">
  <!-- if overview tab show main-box -->
  <div class="main-box">
    <!-- team recent matches -->
    <app-nav-title [title]="'Recent Matches'"></app-nav-title>
    <app-table-teams-matches [isOverviewPage]="true"></app-table-teams-matches>
  </div>
  <!-- main-box -->

  <div class="side-box">
    <!-- team players -->
    <div class="block-box">
      <app-nav-title [title]="'Current Players'"></app-nav-title>
      <app-table-teams-players [isCurrentTeamMember]="true"></app-table-teams-players>
    </div>

    
    <!-- team heros -->
    <div class="block-box">
      <app-nav-title [title]="'Heroes Played'"></app-nav-title>
      <app-table-teams-heroes [isOverviewPage]="true"></app-table-teams-heroes>
    </div>
  </div>
  <!-- side-box -->
</div>
<!-- content-box -->