<div class="wrapper">
  <p *ngIf="isLoading">Loading</p>
  <div class="medal-box"  *ngIf="!isLoading">

    <div class="medals">
      <label>Unknown</label>
      <div class="medals-row">
        <ng-container *ngFor="let item of medals | slice: 0:1">
          <div class="rank-tier" [matTooltip]="item?.rank_tier | rankTier" matTooltipPosition="above">
            <!-- if players in leaderboard rank -->
            <span class="leaderboard-rank" *ngIf="item?.leaderboard_rank">{{item?.leaderboard_rank}}</span>
            <!-- if players in leaderboard rank then no start -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-start" *ngIf="item?.rank_tier !== null && item?.rank_tier.toString()[1] !== '0'" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_star_{{item?.rank_tier.toString()[1]}}.png' />
            <!-- 
              rank icon if immortal, the icon base on the leaderboar rank
              
             -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-icon" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_icon_{{item?.rank_tier !== null ? item?.rank_tier.toString()[0] : "0"}}{{item?.leaderboard_rank >= 1  &&  item?.leaderboard_rank <= 10 ? "c" : (item?.leaderboard_rank <=100 && item?.leaderboard_rank > 10 ? "b" : "")}}.png' />
          </div>
          <!-- rank tier -->
        </ng-container>
      </div>
      <!-- medals-row -->
    </div>
    <!-- medals -->
    
    <div class="medals">
      <label>Herald</label>
      <div class="medals-row">
        <ng-container *ngFor="let item of medals | slice: 1:6">
          <div class="rank-tier" [matTooltip]="item?.rank_tier | rankTier" matTooltipPosition="above">
            <!-- if players in leaderboard rank -->
            <span class="leaderboard-rank" *ngIf="item?.leaderboard_rank">{{item?.leaderboard_rank}}</span>
            <!-- if players in leaderboard rank then no start -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-start" *ngIf="item?.rank_tier !== null && item?.rank_tier.toString()[1] !== '0'" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_star_{{item?.rank_tier.toString()[1]}}.png' />
            <!-- 
              rank icon if immortal, the icon base on the leaderboar rank
              
             -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-icon" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_icon_{{item?.rank_tier !== null ? item?.rank_tier.toString()[0] : "0"}}{{item?.leaderboard_rank >= 1  &&  item?.leaderboard_rank <= 10 ? "c" : (item?.leaderboard_rank <=100 && item?.leaderboard_rank > 10 ? "b" : "")}}.png' />
          </div>
          <!-- rank tier -->
        </ng-container>
      </div>
      <!-- medals-row -->
    </div>
    <!-- medals -->
  
    <div class="medals">
      <label>Guardian</label>
      <div class="medals-row">
        <ng-container *ngFor="let item of medals | slice: 6:11">
          <div class="rank-tier" [matTooltip]="item?.rank_tier | rankTier" matTooltipPosition="above">
            <!-- if players in leaderboard rank -->
            <span class="leaderboard-rank" *ngIf="item?.leaderboard_rank">{{item?.leaderboard_rank}}</span>
            <!-- if players in leaderboard rank then no start -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-start" *ngIf="item?.rank_tier !== null && item?.rank_tier.toString()[1] !== '0'" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_star_{{item?.rank_tier.toString()[1]}}.png' />
            <!-- 
              rank icon if immortal, the icon base on the leaderboar rank
              
             -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-icon" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_icon_{{item?.rank_tier !== null ? item?.rank_tier.toString()[0] : "0"}}{{item?.leaderboard_rank >= 1  &&  item?.leaderboard_rank <= 10 ? "c" : (item?.leaderboard_rank <=100 && item?.leaderboard_rank > 10 ? "b" : "")}}.png' />
          </div>
          <!-- rank tier -->
        </ng-container>
      </div>
      <!-- medals-row -->
    </div>
    <!-- medals -->
  
    <div class="medals">
      <label>Crusader</label>
      <div class="medals-row">
        <ng-container *ngFor="let item of medals | slice: 11:16">
          <div class="rank-tier" [matTooltip]="item?.rank_tier | rankTier" matTooltipPosition="above">
            <!-- if players in leaderboard rank -->
            <span class="leaderboard-rank" *ngIf="item?.leaderboard_rank">{{item?.leaderboard_rank}}</span>
            <!-- if players in leaderboard rank then no start -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-start" *ngIf="item?.rank_tier !== null && item?.rank_tier.toString()[1] !== '0'" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_star_{{item?.rank_tier.toString()[1]}}.png' />
            <!-- 
              rank icon if immortal, the icon base on the leaderboar rank
              
             -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-icon" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_icon_{{item?.rank_tier !== null ? item?.rank_tier.toString()[0] : "0"}}{{item?.leaderboard_rank >= 1  &&  item?.leaderboard_rank <= 10 ? "c" : (item?.leaderboard_rank <=100 && item?.leaderboard_rank > 10 ? "b" : "")}}.png' />
          </div>
          <!-- rank tier -->
        </ng-container>
      </div>
      <!-- medals-row -->
    </div>
    <!-- medals -->
  
    <div class="medals">
      <label>Archon</label>
      <div class="medals-row">
        <ng-container *ngFor="let item of medals | slice: 16:21">
          <div class="rank-tier" [matTooltip]="item?.rank_tier | rankTier" matTooltipPosition="above">
            <!-- if players in leaderboard rank -->
            <span class="leaderboard-rank" *ngIf="item?.leaderboard_rank">{{item?.leaderboard_rank}}</span>
            <!-- if players in leaderboard rank then no start -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-start" *ngIf="item?.rank_tier !== null && item?.rank_tier.toString()[1] !== '0'" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_star_{{item?.rank_tier.toString()[1]}}.png' />
            <!-- 
              rank icon if immortal, the icon base on the leaderboar rank
              
             -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-icon" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_icon_{{item?.rank_tier !== null ? item?.rank_tier.toString()[0] : "0"}}{{item?.leaderboard_rank >= 1  &&  item?.leaderboard_rank <= 10 ? "c" : (item?.leaderboard_rank <=100 && item?.leaderboard_rank > 10 ? "b" : "")}}.png' />
          </div>
          <!-- rank tier -->
        </ng-container>
      </div>
      <!-- medals-row -->
    </div>
    <!-- medals -->
  
    <div class="medals">
      <label>Legend</label>
      <div class="medals-row">
        <ng-container *ngFor="let item of medals | slice: 21:26">
          <div class="rank-tier" [matTooltip]="item?.rank_tier | rankTier" matTooltipPosition="above">
            <!-- if players in leaderboard rank -->
            <span class="leaderboard-rank" *ngIf="item?.leaderboard_rank">{{item?.leaderboard_rank}}</span>
            <!-- if players in leaderboard rank then no start -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-start" *ngIf="item?.rank_tier !== null && item?.rank_tier.toString()[1] !== '0'" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_star_{{item?.rank_tier.toString()[1]}}.png' />
            <!-- 
              rank icon if immortal, the icon base on the leaderboar rank
              
             -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-icon" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_icon_{{item?.rank_tier !== null ? item?.rank_tier.toString()[0] : "0"}}{{item?.leaderboard_rank >= 1  &&  item?.leaderboard_rank <= 10 ? "c" : (item?.leaderboard_rank <=100 && item?.leaderboard_rank > 10 ? "b" : "")}}.png' />
          </div>
          <!-- rank tier -->
        </ng-container>
      </div>
      <!-- medals-row -->
    </div>
    <!-- medals -->
  
    <div class="medals">
      <label>Ancient</label>
      <div class="medals-row">
        <ng-container *ngFor="let item of medals | slice: 26:31">
          <div class="rank-tier" [matTooltip]="item?.rank_tier | rankTier" matTooltipPosition="above">
            <!-- if players in leaderboard rank -->
            <span class="leaderboard-rank" *ngIf="item?.leaderboard_rank">{{item?.leaderboard_rank}}</span>
            <!-- if players in leaderboard rank then no start -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-start" *ngIf="item?.rank_tier !== null && item?.rank_tier.toString()[1] !== '0'" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_star_{{item?.rank_tier.toString()[1]}}.png' />
            <!-- 
              rank icon if immortal, the icon base on the leaderboar rank
              
             -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-icon" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_icon_{{item?.rank_tier !== null ? item?.rank_tier.toString()[0] : "0"}}{{item?.leaderboard_rank >= 1  &&  item?.leaderboard_rank <= 10 ? "c" : (item?.leaderboard_rank <=100 && item?.leaderboard_rank > 10 ? "b" : "")}}.png' />
          </div>
          <!-- rank tier -->
        </ng-container>
      </div>
      <!-- medals-row -->
    </div>
    <!-- medals -->
  
    <div class="medals">
      <label>Divine</label>
      <div class="medals-row">
        <ng-container *ngFor="let item of medals | slice: 31:36">
          <div class="rank-tier" [matTooltip]="item?.rank_tier | rankTier" matTooltipPosition="above">
            <!-- if players in leaderboard rank -->
            <span class="leaderboard-rank" *ngIf="item?.leaderboard_rank">{{item?.leaderboard_rank}}</span>
            <!-- if players in leaderboard rank then no start -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-start" *ngIf="item?.rank_tier !== null && item?.rank_tier.toString()[1] !== '0'" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_star_{{item?.rank_tier.toString()[1]}}.png' />
            <!-- 
              rank icon if immortal, the icon base on the leaderboar rank
              
             -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-icon" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_icon_{{item?.rank_tier !== null ? item?.rank_tier.toString()[0] : "0"}}{{item?.leaderboard_rank >= 1  &&  item?.leaderboard_rank <= 10 ? "c" : (item?.leaderboard_rank <=100 && item?.leaderboard_rank > 10 ? "b" : "")}}.png' />
          </div>
          <!-- rank tier -->
        </ng-container>
      </div>
      <!-- medals-row -->
    </div>
    <!-- medals -->
  
    <div class="medals">
      <label>Immortal</label>
      <div class="medals-row">
        <ng-container *ngFor="let item of medals | slice: 36">
          <div class="rank-tier" [matTooltip]="item?.rank_tier | rankTier" matTooltipPosition="above">
            <!-- if players in leaderboard rank -->
            <span class="leaderboard-rank" *ngIf="item?.leaderboard_rank">{{item?.leaderboard_rank}}</span>
            <!-- if players in leaderboard rank then no start -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-start" *ngIf="item?.rank_tier !== null && item?.rank_tier.toString()[1] !== '0'" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_star_{{item?.rank_tier.toString()[1]}}.png' />
            <!-- 
              rank icon if immortal, the icon base on the leaderboar rank
              
             -->
            <img
            onError="this.src='./assets/images/Dota2Logo.svg'"
            class="rank-icon" src='https://www.opendota.com/assets/images/dota2/rank_icons/rank_icon_{{item?.rank_tier !== null ? item?.rank_tier.toString()[0] : "0"}}{{item?.leaderboard_rank >= 1  &&  item?.leaderboard_rank <= 10 ? "c" : (item?.leaderboard_rank <=100 && item?.leaderboard_rank > 10 ? "b" : "")}}.png' />
          </div>
          <!-- rank tier -->
        </ng-container>
      </div>
      <!-- medals-row -->
    </div>
    <!-- medals -->
  </div>
  <!-- mdeals-box -->
</div>
<!-- wrapper -->