@import '../../../../styles.scss';

.chats-item {
  display: flex;
  padding-bottom: 10px;

  &.chats-item-spam {
    opacity: .5;
  }
}

.sides-icon {
  margin-right: 10px;
}

.chat-time {
  display: inline-block;
  padding: 0 10px;
}

.chat-content {
  padding-left: 15px;
}

.chat-content-type {
  display: flex;
  align-items: center;
}

.audio-track {
  cursor: pointer;

  &.audiotrack-playing,
  &:hover {
   color: $blue;
  }
}

.filter-chart-bar {
  padding-bottom: 20px;
  border-bottom: 1px solid $gray;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  .filter-chart-bar-col {
    border-left: 1px solid $gray;
    width: 100%;
    padding: 0 20px;

    &:first-child {
      border-left: none;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    div {
      justify-content: space-between;
      display: flex;

      span {
        font-weight: bold;

      }
    }
  }
}