<div *ngIf="data && chats && chatWheel">
  <div class="filter-chart-bar">
    <div class="filter-chart-bar-col">
      <p>Sides</p>
      <div class="row">
        <div class="col">
          <mat-checkbox (change)="filter($event)" [checked]="true" [name]="item" *ngFor="let item of chatFilter | slice: 0: 2">{{item}} ({{chatFilterObj[item]?.len}})</mat-checkbox>
        </div>
        <div class="col">
          <span *ngFor="let item of chatFilter | slice: 0: 2">Filtered: {{chatFilterObj[item]?.len}}</span>
        </div>
      </div>
    </div>
    <div class="filter-chart-bar-col">
      <p>Chat type</p>
      <div class="row">
        <div class="col">
          <mat-checkbox (change)="filter($event)" [checked]="true" [name]="item" *ngFor="let item of chatFilter | slice: 2: 5">{{item}} ({{chatFilterObj[item]?.len}})</mat-checkbox>
        </div>
        <div class="col"> 
          <span *ngFor="let item of chatFilter | slice: 2: 5">Filtered: {{chatFilterObj[item]?.len}}</span>
        </div>
      </div>
    </div>
    <div class="filter-chart-bar-col">
      <p>Target</p>
      <div class="row">
        <div class="col">
          <mat-checkbox (change)="filter($event)" [checked]="true" [name]="item" *ngFor="let item of chatFilter | slice: 5 : 7">{{item}} ({{chatFilterObj[item]?.len}})</mat-checkbox>
        </div>
        <div class="col"> 
          <span *ngFor="let item of chatFilter  | slice: 5 : 7">Filtered: {{chatFilterObj[item]?.len}}</span>
        </div>
      </div>
    </div>
    <div class="filter-chart-bar-col">
      <p>Other</p>
      <div class="row">
        <div class="col">
          <mat-checkbox (change)="filter($event)" [checked]="true" [name]="item" *ngFor="let item of chatFilter | slice: 7">{{item}} ({{chatFilterObj[item]?.len}})</mat-checkbox>
        </div>
        <div class="col"> 
          <span *ngFor="let item of chatFilter  | slice: 7">Filtered: {{chatFilterObj[item]?.len}}</span>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngFor="let chatLine of chatToShow; let index=index"
    [ngClass]="{'chats-item': true, 'chats-item-spam': chatLine.spam}">

    <!-- side icon-->
    <app-radient class="sides-icon" *ngIf="chatLine.chat.slot <= 4 && chatFilterObj[chatLine.side].isShown"></app-radient>
    <app-dire class="sides-icon" *ngIf="chatLine.chat.slot > 4 && chatFilterObj[chatLine.side].isShown"></app-dire>

    
    <!-- time -->
    <span class="chat-time">{{chatLine.chat.time | durationFormat }}</span>

    <!-- hero icon-->
    <app-hero-icon-player-name
    class="hero-icon-player-name"
    [heroes]="heroes"
    [playerColors]="playerColors"
    [player]="data[chatLine.chat.slot]"
  ></app-hero-icon-player-name>

  <span class="chat-content" *ngIf="chatLine.chat.type === 'chatwheel'">
    <!-- normal chat wheel -->
    <span class="chat-content-type" *ngIf="!chatWheel[chatLine.chat?.key]?.sound_ext">
      <mat-icon>play_arrow</mat-icon> {{ chatWheel[chatLine.chat?.key] ? (chatWheel[chatLine.chat?.key]?.message | replaceText : '%s1' : 'A hero') : ''}}
    </span>
    <!-- audio chat wheel -->
    <span class="chat-content-type" *ngIf="chatWheel[chatLine.chat?.key]?.sound_ext">
      <mat-icon (click)="playAudio(chatLine)" class="audio-track">audiotrack</mat-icon>
      {{chatWheel[chatLine.chat?.key]?.message}}
    </span>
  </span>

  <!-- normal chat -->
  <span  class="chat-content" *ngIf="chatLine.chat.type === 'chat'">
    {{chatLine.chat.key}}
  </span>
  </div>
</div>
