@import "../../../../styles.scss";

.map {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  position: relative;
}

.obs-sen-item {
  display: inline-block;
}

.obs-sen {
  position: absolute;
  border-radius: 100%;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;

  &.goodguys-obs-sen {
    border-color: $green;
    background-color: rgba($color: $green, $alpha: 0.2);

    &:hover {
      background-color: rgba($color: $green, $alpha: 0.4);
    }
  }

  &.badguys-obs-sen {
    border-color: $red;
    background-color: rgba($color: $red, $alpha: 0.2);
  }
}
