<div *ngIf="teamsGeneral$ | async as teamsData" class="team-hero">
  <div *ngIf="teamsData['isLoading']; else teamsDataTeam">Loading</div>
  <ng-template #teamsDataTeam>
    <img
    onError="this.src='/assets/images/Dota2Logo.svg'"
    class="team-avatar" [src]="teamsData.team?.logo_url"/>
    <div class="team-info">
      <h1>
        {{teamsData.team?.name}}
      </h1>
      <!-- team-subinfo -->
      <div class="team-win-lose-count">
        <div class="team-count team-win-count">
          <label>WINS</label>
          <span>{{teamsData.team?.wins}}</span>
        </div>
        <!-- team-win-count -->
        <div class="team-count team-lose-count">
          <label>LOSES</label>
          <span>{{teamsData.team?.losses}}</span>
        </div>
        <!-- team-lose-count -->
        <div class="team-count team-win-rate">
          <label>RATING</label>
          <span>{{teamsData.team?.rating !== 0 ? (teamsData.team?.rating | number: '1.0-0') : 'N/A'}}</span>
        </div>
        <!-- team-win-rate -->
      </div>
      <!-- team-win-lose-count -->
    </div>
  <!-- person-info -->
  </ng-template>

</div>