@import '../../../../styles.scss';

.box {
  border-bottom: 1px solid $black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.item-tooltip {
  border: 2px solid $deep;
  width: 300px;
  padding: 10px;
  position: absolute;
  z-index: 10;
  background-color: $darken;
}

.item-main {
  display: flex;
  align-items: center;
  margin: -10px -10px 10px;
  padding: 10px;
  background: $dark;
  
  .item-main-right {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    h3 {
      font-size: 16px;
      width: 220px;
      font-weight: bold;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: $white;
      margin-bottom: 5px;
    }

  }
}

.red-txt {
  color: $red;
}

.green-txt {
  color: $green;
}


.item-row {
  padding-bottom: 3px;
}

.item-sub {
  color: $white;
  font-weight: bold;
  font-size: 12px;

  label {
    font-weight: normal;
    color: $gray;
    display: inline-block;
    padding-right: 5px;
  }
}

.item-desc {
  font-size: 13px;
  white-space: break-spaces;
}

.item-value {
  &::after {
    content: ' /';
  }

  &:last-child{
    &::after {
      content: '';
    }
  }
  
}

.item-mc-cd {
  display: flex;

  img {
    display: inline-block;
    margin-right: 7px;
  }

  .item-mc {
    display: flex;
    padding-right: 7px;
  }
  .item-cd {
    display: flex;
  }

  .item-value {
    display: inline-block;
    padding: 0 1px;
  }
}