<table mat-table [dataSource]="dataSource" matSort>  
  <!-- name column -->
  <ng-container matColumnDef="player_slot">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> PLAYER </th>
    <td mat-cell *matCellDef="let element">
      <app-player-box [data]="element" [heroes]="heroes" [playerColorLocal]="playerColorLocal"></app-player-box>
    </td>
  </ng-container>

  <!-- item purchase columns -->
  <ng-container [matColumnDef]="item" *ngFor="let item of displayedColumns | slice: 1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"> {{item}}' </th>
    <td mat-cell *matCellDef="let element">

      <!-- item_uses -->
      <span class="item-num" matTooltip="# of Non-consumable of Total" matTooltipPosition="above">{{calItemTotal(element[item]?.data)}} of {{element[item]?.data.length}}</span>
      <div class="item-list">
        <div *ngFor="let item of element[item]?.data" class="item-list-item">
            <!-- for item -->
            <span *ngIf="!enableConsumable ? itemsLocal[item?.key]?.qual !== 'consumable' : itemsLocal[item?.key]">
              <img
                width="35px"
                [class]="'item-color item-color-' + itemsLocal[item?.key]?.qual"
                class="item"
                *ngIf="item && itemsLocal && itemsLocal[item?.key]?.img"
                onError="this.src='./assets/images/Dota2Logo.svg'"
                [src]="'https://steamcdn-a.akamaihd.net/' + itemsLocal[item?.key]?.img"
                (mouseover)="showItemModalFn.emit([$event, itemsLocal[item?.key]?.id])"
                (mouseout)="hideItemModalFn.emit($event)"
              />
              <span class="middle-text">{{item?.time | durationFormat}}</span>
            </span>
        </div>
      </div>



    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>