.chart {
  height: 600px;
  width: 1304px;

  ::ng-deep {
    .tooltip-item-row {
      padding: 5px 0;
      text-transform: capitalize;
      display: flex;
      justify-content: space-between; 
    }
  }
}