<div *ngIf="data && heroesLocal">
  <div class="team-row">
    <div class="team-radiant">
      <app-radient></app-radient>
      {{radiantTeam ? radiantTeam.name : 'Radiant'}}
    </div>
    <div class="team-dire">
      {{direTeam ? direTeam.name : 'Dire'}}
      <app-dire></app-dire>
    </div>
  </div>
  <!-- team row -->
  <div *ngFor="let item of data; let i = index;" class="ban-pick-item" [class]="{'radiant-team': item.team === 0, 'dire-item': item.team === 1}">
    <div class="hero-img" [routerLink]="['/heroes', item.hero_id]">
      <mat-icon class="banned-icon" *ngIf="!item.is_pick">block</mat-icon>
      <img width="104" height="58"
        [class]="!item.is_pick ? 'is-banned' : ''"
        *ngIf="item.hero_id && heroesLocal"
        src="https://steamcdn-a.akamaihd.net/{{heroesLocal[item.hero_id]['img']}}"
      />
    </div>
    <span class="middle-text">
      
      <span [class]="item.is_pick ? 'is-picked-txt' : 'is-banned-txt'">{{item.team === 0 ? '<' : ''}} {{(item.is_pick ? 'Pick' : 'Ban') + (item.order + 1) }} {{item.team === 1 ? '>' : ''}}</span>
      
    </span>
  </div>
</div>