@import '../../../../styles.scss';

// teams row
.team-row {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding-bottom: 10px;

  .team-radiant {
    display: flex;

    ::ng-deep {
      svg {
        width: 20px;
        fill: $green;
        margin-right: 10px;
      }
    }
  }

  .team-dire {
    display: flex;

    ::ng-deep {
      svg {
        margin-left: 10px;
        width: 20px;
        fill: $red;
      }
    }
  }
}

.ban-pick-item {
  display: flex;
  padding: 10px;
  align-items: center;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}
  .radiant-team {
    justify-content: flex-start;
    background-color: rgba($color: #000000, $alpha: .1);
    border-bottom-color: $dark;
    .middle-text {
      margin-left: calc(50% - 154px);
    }
    
  }

  .dire-item {
    border-bottom-color: rgba($color: #000000, $alpha: .1);
    justify-content: flex-start;
    flex-direction: row-reverse;
    
    .middle-text {
      margin-right: calc(50% - 154px);
    }
  }

.hero-img {
  cursor: pointer;
  position: relative;
  width: 104px;
  height: 58px;

  .banned-icon {
    position: absolute;
    z-index: 1;
    width: 58px;
    height: 58px;
    font-size: 58px;
    top: 0;
    left: 50%;
    margin-left: -29px;
    color: $red;
  }

  .is-banned {
    filter: grayscale(100%); 
  }
}

.is-picked-txt {
  color: $green;
}

.is-banned-txt {
  color: $red;
}