<table mat-table [dataSource]="dataSource">
  <!-- show all col -->
  <ng-container matColumnDef="showHideAll">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="showHideAll($event)" [checked]="allType"></mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let element">
      <img
        onError="this.src='./assets/images/Dota2Logo.svg'"
        width="40"
        [src]="element.type === 'obs_log' ? './assets/images/ward_observer_lg.png' : './assets/images/ward_sentry_lg.png'"
      />
    </td>
  </ng-container>

  <!-- heros col -->
  <ng-container [matColumnDef]="item" *ngFor="let item of displayedColumns | slice : 1 : 6">
    <th mat-header-cell *matHeaderCellDef>
      {{item}}
      <img
        width="24"
        height="24"
        onError="this.src='./assets/images/Dota2Logo.svg'"
        src="https://steamcdn-a.akamaihd.net/{{heroesLocal[item]?.icon}}"
      />
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox [checked]="players[item][element?.type]" (change)="showHide([$event, element.type, item])"></mat-checkbox>
    </td>
  </ng-container>

  <!-- all col -->
  <ng-container matColumnDef="all">
    <th mat-header-cell *matHeaderCellDef>
      ALL
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox [checked]="allOneType[element.type]" (change)="showHideAllOneType([$event, element.type])"></mat-checkbox>
    </td>
  </ng-container>

  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>