<table mat-table [dataSource]="dataSource" matSort>  
  <!-- name column -->
  <ng-container matColumnDef="player_slot" *ngIf="displayedColumns.includes('player_slot')">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> PLAYER </th>
    <td mat-cell *matCellDef="let element">
      <app-player-box [data]="element" [heroesLocal]="heroesLocal" [playerColorLocal]="playerColorLocal"></app-player-box>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- cols -->
  <ng-container [matColumnDef]="item" *ngFor="let item of displayedColumns | slice: 1; let i = index">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]="objCol[item].tooltip" matTooltipPosition="above">
      <img
        onError="this.src='./assets/images/Dota2Logo.svg'"
        width="24"
        [src]="'./assets/images/'+ objCol[item]?.is + '.png'"
      />
      {{objCol[item]?.title}}
    </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="i !== 2 && i !== 5">
        {{element[item] ? element[item] : '-'}}
      </span>
      
      <span *ngIf="i <= 1 || (i > 2 && i <= 4) || i === 10">
        <app-bar-chart [data]='[calPerfectData(data, item), (element[item] ? element[item] : 0)]'></app-bar-chart>
      </span>
      <span *ngIf="i === 2">
        {{element[item] !== '-' ? (element[item] | durationFormat) : '-'}}
        <app-bar-chart [data]='[calPerfectDataForObsSenDuration(data, ["duration", "obs_left_log", "obs_log"]), (element[item] ? element[item] : 0)]'></app-bar-chart>
      </span>
      <span *ngIf="i === 5">
        {{element[item] !== '-' ? (element[item] | durationFormat) : '-'}}
        <app-bar-chart [data]='[calPerfectDataForObsSenDuration(data, ["duration", "sen_left_log", "sen_log"]), (element[item] ? element[item] : 0)]'></app-bar-chart>
      </span>
      <span *ngIf="i === 6 || i === 8">
        <app-bar-chart [data]='[calPerfectData(data, "purchase", item), (element[item] ? element[item] : 0)]'></app-bar-chart>
      </span>
      <span *ngIf="i === 7 || i === 9">
        <app-bar-chart [data]='[calPerfectData(data, "item_uses", item), (element[item] ? element[item] : 0)]'></app-bar-chart>
      </span>
      
    </td>
    <td mat-footer-cell *matFooterCellDef>
      <span *ngIf="i <= 1 || (i > 2 && i <= 4) || i === 10">
        {{calTotalData(data, item)}}
      </span>
      <span *ngIf="i === 2" matTooltip="Average lifespan of Observer Wards for exist" matTooltipPosition="above">
        {{calTotalAverageDuration(data, 'obs_left_log', 'obs_log') | durationFormat}}
      </span>
      <span *ngIf="i === 5" matTooltip="Average lifespan of Sentry Wards for exist" matTooltipPosition="above">
        {{calTotalAverageDuration(data, 'sen_left_log', 'sen_log') | durationFormat}}
      </span>
      <span *ngIf="i === 6 || i === 8">
        {{calTotalData(data, "purchase", item)}}
      </span>
      <span *ngIf="i === 7 || i === 9">
        {{calTotalData(data, "item_uses", item)}}
      </span>
    </td>
  </ng-container>
  
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>