<div *ngIf="isLoading">Loading</div>
<div *ngIf="!isLoading">
  <div *ngIf="dataSource.data.length === 0; else hasData">No data</div>
  <ng-template #hasData>
    <table mat-table [dataSource]="dataSource">
      <!-- rank column-->
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef>{{column | nameDestruct: '_' : 0 : 'upperCase'}}</th>
        <td mat-cell *matCellDef="let stages ">
          <span *ngFor="let stage of stages[column]" class="stage-wrap">
            <span *ngFor="let item of stage" class="item-wrap">
              <img
                *ngIf="!items[itemIds[item]]?.dname.includes('Recipe') && itemIds && items && items[itemIds[[item]]]?.img"
                onError="this.src='./assets/images/Dota2Logo.svg'"
                width="40px"
                [class]="'item-color item-color-' + items[itemIds[item]]?.qual"
                class="item"
                  src="https://www.opendota.com/assets/images/Dota2Logo.svg"  
                  [src]="'https://steamcdn-a.akamaihd.net/' + items[itemIds[item]]['img']"
                  (mouseover)="showItemModalFn($event, item, column)" (mouseout)="showItemModal=false; currentMouseOverItem = null"
                />
            </span>
          </span>
        </td>
      </ng-container>
      
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-template>
</div>
<app-item-modal [items]="items" *ngIf="showItemModal" [item]='currentMouseOverItem' [pageXY] = 'pageXY' class="item-modal"></app-item-modal>