<div class="team-fight-time-line">
  <div class="team-fight-time-line-left">
    <span class="team-side">{{data?.radiant_team ? data?.radiant_team?.name : 'Radiant'}}</span>
    <span>-1:30</span>
    <span class="team-side">{{data?.dire_team ? data?.dire_team?.name : 'Dire'}}</span>
  </div>
  <!-- left -->
  <div class="team-fight-time-line-main">
    <!-- game start -->
    <span class="start-piont" [style]="'left:' + (90 / (data.duration + 90) * 100) + '%'"></span>
    <!-- fb -->
    <div
      (mouseover)="showFirstBloodModalFn($event, firstBloodData)"
      (mouseout)="showFirstBloodModal=false; firstBloodModalData = null"
      class="action-piont"
      [class]="firstBloodData?.drewPlayer?.isRadiant ? 'action-from-radiant' : ''" [style]="'left:' + ((firstBloodData.time + 90) / (data.duration + 90) * 100) + '%'">
      <span class="action-piont-time">{{firstBloodData.time | durationFormat}}</span>
      <mat-icon class="action-piont-arrow" *ngIf="firstBloodData?.drewPlayer?.isRadiant">arrow_drop_up</mat-icon>
      <mat-icon class="action-icon">invert_colors</mat-icon>
      <mat-icon class="action-piont-arrow" *ngIf="!firstBloodData?.drewPlayer?.isRadiant">arrow_drop_down</mat-icon>
      
    </div>
    <!-- team fight list -->
    <span
      (mouseover)="showTeamFightModalFn($event, item)"
      (mouseout)="showTeamFightModal=false; currentTeamFightData = null"
      (click)="getCurrentTeamFightDataAndEmit(item)"
      [class]="currentTeamFightDataForTable === item ? 'current-team-fight' : ''"
      *ngFor="let item of data?.teamfights" class="team-fights-point"
      [style]="'left:' + ((item?.start + 90) / (data.duration + 90) * 100) + '%'">
      <mat-icon
        [class]="calTeamFightIsRadiantWin(item) ? 'is-radiant-win-team-fight' : ''"
        class="team-fights-icon"
      >clear</mat-icon>
    </span>


    <!-- roshan aegise kill and pick list -->
    <div
      (mouseover)="showRoshanAegisModalFn($event, item)"
      (mouseout)="showRoshanAegisModal=false; currentRoshanAegisData = null"
      *ngFor="let item of roshanAegisData"
      class="action-piont"
      [class]="item?.pickedAegisPlayer?.isRadiant ? 'action-from-radiant' : ''" [style]="'left:' + ((item.killedTime + 90) / (data.duration + 90) * 100) + '%'">
      <span class="action-piont-time">{{item.killedTime | durationFormat}}</span>
      <mat-icon class="action-piont-arrow" *ngIf="item?.pickedAegisPlayer?.isRadiant">arrow_drop_up</mat-icon>
      <app-icon-roshan class="roshan-icon"></app-icon-roshan>
      <mat-icon class="action-piont-arrow" *ngIf="!item?.pickedAegisPlayer?.isRadiant">arrow_drop_down</mat-icon>
      
    </div>

    <span class="line"></span>
  </div>
  <!-- main -->
  <div class="team-fight-time-line-right">{{data.duration | durationFormat}}</div>
  <!-- right -->
</div>

<app-first-blood-modal
  [data]="firstBloodModalData"
  [heroesLocal]="heroesLocal"
  [playerColorLocal]="playerColorLocal"
  *ngIf="showFirstBloodModal"
  [pageXY] = 'pageXY' 
></app-first-blood-modal>

<app-roshan-killed-modal
[data]="currentRoshanAegisData"
[heroesLocal]="heroesLocal"
[playerColorLocal]="playerColorLocal"
*ngIf="showRoshanAegisModal"
[pageXY] = 'pageXY' 
>
</app-roshan-killed-modal>

<app-team-fight-modal
[data]="currentTeamFightData"
[playerData]="data?.players"
[heroesLocal]="heroesLocal"
[playerColorLocal]="playerColorLocal"
*ngIf="showTeamFightModal"
[pageXY] = 'pageXY' 
>
</app-team-fight-modal>

