<app-nav-title [title]="'Trends'"> Moving mean of last 20 games</app-nav-title>

<div class="wrapper">
  <!-- sides dropdown -->
  <app-dropdown
    [data]="fieldsLocal"
    *ngIf="fieldsLocal"
    [model]="currentSelectedField"
    (setEventEmit)="setQueryParams([$event])"
    [defaultValue]="setDropdownDefaultValue()"
    [hasNone]="false"
  >
  </app-dropdown>
  <br/>
  <div *ngIf="isLoading">Loading</div>
  <div *ngIf="!isLoading">
    <div *ngIf="trends.length === 0; else hasData">No data</div>
    <ng-template #hasData>
      <app-trends-chart [data]="trends" [field]="field" [fieldDescription]="fieldDescription" [hero]="heroesLocal" [gamemode]="gameModeLocal"></app-trends-chart>
    </ng-template>
  </div>
</div>