@import '../../../../styles.scss';

.sides-icon {
  ::ng-deep {
    svg {
      width: 24px;
    }
  }
}

.killed-damage-by-txt {
  border: 1px solid $red;
  padding: 0 1px;
  width: 40px;
  display: inline-block;
  text-align: center;
  margin-right: 3px;
  font-size: 10px;
}

.killed-damage-txt {
  border: 1px solid $green;
  padding: 0 1px;
  font-size: 10px;
  width: 40px;
  display: inline-block;
  text-align: center;
  margin-right: 3px;
}