@import '../../../../styles.scss';

table {
  width: 100%;
}

table tr {
  vertical-align: middle;

  .account_link {
    display: inline-block;
    margin-left: 5px;
    text-overflow: ellipsis;
    width: 100px;
    white-space: nowrap;
    overflow: hidden
  }
}

.text-on-chart {
  display: inline-block;
  padding-bottom: 5px;
}

.content-box {
  display: flex;
  flex-direction: row;

  .main-box {
    width: calc(100% - 417px - 30px);
    margin-right: 30px;
  }

  .side-box {
    width: 417px;

    .block-box {
      width: 100%;
      padding-bottom: 30px;
    }
  }
}

.ver-align {
  display: flex;
  align-items: center;
}

.type-name {
  text-transform: capitalize;
}

.party-size {
  cursor: pointer;
  display: inline-block;
}

.skill-text {
  text-transform: capitalize;
}

.skill-text-unknow {
  opacity: .6;
}

.party-size-icon {
  cursor: pointer;
  position: relative;
  top: 3px;
  font-size: 14px;
  color: $gray;
  width: 14px;
  height: 14px;
}

.party-size-text {
  display: inline-block;
  padding-right: 5px;
  font-size: 11px;
  color: $gray;
}

.lose-match {
  color: $red;
}

.win-match {
  color: $green;
}

.land_role {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-left: 15px;
}


.hero-img,
.land-role-img {
  cursor: pointer;
}

.hero-col {
  position: relative;
}


.count-box {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  background-color: rgba($color: $white, $alpha: 0.03);
  border: 1px solid rgb(0 0 0 / 12%);
  padding: 0 5px;

  app-count-chart {
    margin: 0 7px;
  }

  .count-box-group {
    display: flex;
    padding: 3px 5px;
    justify-content: space-between;
    border-right: 2px solid rgb(0 0 0 / 12%);

    &:last-child {
      border-right: none;
    }
  }

}



.date-time {
  color: $gray;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  padding-left: 5px;

  .date-time-value {
    display: inline-block;
    width: 90px;
  }

}

.account-date {
  display: flex;
  flex-direction: column;
}


.kda-bar-box {
  position: relative;
}
.kda-bar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 110px;
  cursor: pointer;
}

.average-maximum-content {
  background-color: rgb(255 255 255 / 3%);
  border: 1px solid rgb(0 0 0 / 12%);
  padding: 5px 10px;
  margin-bottom: 30px;
}

.turbo-control {
  display: inline-block;
  margin-left: 10px;
}