

<div class="average-maximum-box" *ngIf="avgMaxData$ | async as avgMaxMatches">
  <app-nav-title [title]="'Averages/Maximums'" [link]="'records'" [parentPage]="'playersDetail'"> in last {{filterMatchesLobbyMode(avgMaxMatches['matches'], enableTurbo).length > 20 ? 20 : filterMatchesLobbyMode(avgMaxMatches['matches'], enableTurbo).length}} displayed matches</app-nav-title><mat-checkbox class="turbo-control" *ngIf="queryParamsHasValue" [checked]="true" (change)="enableTurbo = !enableTurbo" matTooltip="Include Turbo Matches" matTooltipPosition="above"></mat-checkbox>
  <div *ngIf="avgMaxMatches['isLoading']" class="average-maximum-content">Loading</div>
  <div *ngIf="!avgMaxMatches['isLoading']" class="average-maximum-content">
    <div *ngIf="filterMatchesLobbyMode(avgMaxMatches['matches'], enableTurbo).length === 0; else hasData">No data</div>
    <ng-template #hasData>
      <app-average-maximun-overview [data]="filterMatchesLobbyMode(avgMaxMatches['matches'], enableTurbo)" [enableTurbo]="enableTurbo"></app-average-maximun-overview>
    </ng-template>
  </div>
</div>

<app-nav-title [title]="'Counts'" [link]="'counts'" [parentPage]="'playersDetail'"> Win %</app-nav-title>
<div class="count-box">
  <div *ngIf="isLoading; else countBox">Loading</div>
  <ng-template #countBox>
    <!-- count-box-group for is radiant -->
    <div class="count-box-group" *ngIf="playersCountsDestructData?.is_radiant?.length > 0">
      <app-count-chart [data]="playersCountsDestructData.is_radiant[0]" *ngIf="playersCountsDestructData.is_radiant[0]">{{playersCountsDestructData.is_radiant[0].id === '0' ? 'Dire' : 'Radiant'}}</app-count-chart>
      <app-count-chart [data]="playersCountsDestructData.is_radiant[1]" *ngIf="playersCountsDestructData.is_radiant[1]">{{playersCountsDestructData.is_radiant[1].id === '0' ? 'Dire' : 'Radiant'}}</app-count-chart>
    </div>
    <!-- count-box-group for game_mode -->
    <div class="count-box-group" *ngIf="gameMode && playersCountsDestructData?.game_mode?.length > 0">
      <app-count-chart [data]="playersCountsDestructData.game_mode[0]" *ngIf="playersCountsDestructData.game_mode[0]">{{gameMode[playersCountsDestructData.game_mode[0].id]['name'] | nameDestruct: '_' : 2}}</app-count-chart>
      <app-count-chart [data]="playersCountsDestructData.game_mode[1]" *ngIf="playersCountsDestructData.game_mode[1]">{{gameMode[playersCountsDestructData.game_mode[1].id]['name'] | nameDestruct: '_' : 2}}</app-count-chart>
    </div>
    <!-- count-box-group for region -->
    <div class="count-box-group" *ngIf="region && playersCountsDestructData?.region?.length > 0">
      <app-count-chart [data]="playersCountsDestructData.region[0]" *ngIf="playersCountsDestructData.region[0]">{{region[playersCountsDestructData.region[0].id]}}</app-count-chart>
      <app-count-chart [data]="playersCountsDestructData.region[1]" *ngIf="playersCountsDestructData.region[1]">{{region[playersCountsDestructData.region[1].id]}}</app-count-chart>
    </div>
    <!-- count-box-group for lane_role -->
    <div class="count-box-group" *ngIf="laneRole && playersCountsDestructData?.lane_role?.length > 0">
      <app-count-chart [data]="playersCountsDestructData.lane_role[0]" *ngIf="playersCountsDestructData.lane_role[0]">{{laneRole[playersCountsDestructData.lane_role[0].id]['name'] | nameDestruct: '_' : 2}}</app-count-chart>
      <app-count-chart [data]="playersCountsDestructData.lane_role[1]" *ngIf="playersCountsDestructData.lane_role[1]">{{laneRole[playersCountsDestructData.lane_role[1].id]['name'] | nameDestruct: '_' : 2}}</app-count-chart>
    </div>
    <!-- count-box-group for patch -->
    <div class="count-box-group" *ngIf="patch && playersCountsDestructData?.patch?.length > 0">
      <app-count-chart [data]="playersCountsDestructData.patch[0]" *ngIf="playersCountsDestructData.patch[0]">{{patch[+playersCountsDestructData.patch[0].id]['name']}}</app-count-chart>
      <app-count-chart [data]="playersCountsDestructData.patch[1]" *ngIf="playersCountsDestructData.patch[1]">{{patch[+playersCountsDestructData.patch[1].id]['name']}}</app-count-chart>
    </div>
  </ng-template>
</div>
<!-- count-box -->
<div class="content-box">
  <div class="main-box">
    <!-- queryParamsHasValue: {{queryParamsHasValue}} -->
    <app-nav-title [title]="'Recent Matches'" [link]="'matches'" [parentPage]="'playersDetail'"></app-nav-title>

    <!-- recent matches -->
    <app-table-matches *ngIf="!queryParamsHasValue" [isRecentMatches]="true"></app-table-matches>

    <!-- matches only show after queryParams select -->
    <app-table-matches *ngIf="queryParamsHasValue"></app-table-matches>
  </div>
  <!-- main-box -->
  <div class="side-box">
    <!-- for players top 5 peers -->
    <div class="block-box">
      <app-nav-title [title]="'Players Played with'" [link]="'peers'" [parentPage]="'playersDetail'"></app-nav-title>
      <!-- peers -->
      <app-table-players [displayedColumns]="['personaname', 'games', 'win_pecentage_with']" [isOverviewPage]="true"></app-table-players>
  
    </div>
    <!-- block-box -->
    
    <!-- for players top 10 heroes played -->
    <div class="block-box">
      <app-nav-title [title]="'Heroes Played'" [link]="'heroes'" [parentPage]="'playersDetail'"></app-nav-title>
      <app-table-heroes [displayedColumns]="['hero_id', 'games', 'win_pecentage_hero']" [isOverviewPage]="true"></app-table-heroes>
    </div>
    <!-- block-box -->
  </div>
  <!-- side-box -->
</div>
<!-- content-box -->
