@import '../../../../styles.scss';

.nav-wrapper {
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
}
nav {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 1224px;
  margin: 0 auto;
}
a {
  padding: 0 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  height: 48px;
  line-height: 48px;
  color: $gray;
  border-bottom: 2px solid transparent;

  &.active,
  &.active:hover {
    border-bottom-color: $dark-blue;
  }
}