<div class="nav-wrapper">
  <nav>
    <a routerLink="overview" routerLinkActive="active" [queryParams]="queryParams.params">overview</a>
    <a routerLink="matches" routerLinkActive="active" [queryParams]="queryParams.params">matches</a>
    <a routerLink="heroes" routerLinkActive="active" [queryParams]="queryParams.params">heroes</a>
    <a routerLink="peers" routerLinkActive="active" [queryParams]="queryParams.params">peers</a>
    <a routerLink="pros" routerLinkActive="active" [queryParams]="queryParams.params">pros</a>
    <a routerLink="records" routerLinkActive="active" [queryParams]="queryParams.params">records</a>
    <a routerLink="totals" routerLinkActive="active" [queryParams]="queryParams.params">totals</a>
    <a routerLink="counts" routerLinkActive="active" [queryParams]="queryParams.params">counts</a>
    <a routerLink="histograms" routerLinkActive="active" [queryParams]="queryParams.params">histograms</a>
    <a routerLink="trends" routerLinkActive="active" [queryParams]="queryParams.params">trends</a>
    <a routerLink="wardmap" routerLinkActive="active" [queryParams]="queryParams.params">wardmap</a>
    <a routerLink="wordcloud" routerLinkActive="active" [queryParams]="queryParams.params">wordcloud</a>
    <a routerLink="mmr" routerLinkActive="active" [queryParams]="queryParams.params">mmr</a>
    <a routerLink="rankings" routerLinkActive="active" [queryParams]="queryParams.params">rankings</a>
    <a routerLink="actvity" routerLinkActive="active" [queryParams]="queryParams.params">actvity</a>
  </nav>
</div>