<div class="wrapper">
  <div *ngIf="isLoading">Loading</div>
  <div *ngIf="!isLoading">
    <app-nav-title [title]="'Words said (all chat)'"> You can click the color block to zoom in, and click center bottom black block to reset</app-nav-title>
    <div *ngIf="wordClouds.my_word_counts.length === 0; else hasData">No data for Words said (all chat)</div>
    <ng-template #hasData>
      <app-word-cloud-chart [data]="wordClouds.my_word_counts"></app-word-cloud-chart>
    </ng-template>

    <app-nav-title [title]="'Words read (all chat)'"> You can click the color block to zoom in, and click center bottom black block to reset</app-nav-title>
    <div *ngIf="wordClouds.all_word_counts.length === 0; else hasDataAllWord">No data for Words read (all chat)</div>
    <ng-template #hasDataAllWord>
      <app-word-cloud-chart [data]="wordClouds.all_word_counts"></app-word-cloud-chart>
    </ng-template>
  </div>
</div>

