<div *ngIf="data && heroesLocal" class="ban-pick-list">
  <div *ngFor="let item of data" class="ban-pick-item">
    <div class="hero-img" [routerLink]="['/heroes', item.hero_id]">
      <mat-icon class="banned-icon" *ngIf="!item.is_pick">block</mat-icon>
      <img
        onError="this.src='./assets/images/Dota2Logo.svg'"
        width="52" height="29px"
        [class]="!item.is_pick ? 'is-banned' : ''"
        *ngIf="item.hero_id && heroesLocal"
        onError="this.src='./assets/images/Dota2Logo.svg'"
        src="https://steamcdn-a.akamaihd.net/{{heroesLocal[item.hero_id]['img']}}"
      />
    </div>
    <span class="middle-text">
      <span [class]="item.is_pick ? 'is-picked-txt' : 'is-banned-txt'">{{(item.is_pick ? 'PICK ' : 'BAN ') + (item.order + 1) }}</span>
    </span>
  </div>
</div>
