/* You can add global styles to this file, and also import other style files */

$black: #000;
$white: #fff;
$deep: rgb(15 22 34);
$gray: #b8b6b4;
$dark: #1a2b3e;
$darken: rgb(21, 27, 29);
$green: rgb(102, 187, 106);
$red: rgb(255, 76, 76);
$golden: rgb(236, 217, 200);
$yellow: rgb(201, 175, 29);
$orange: #E29B01;
$blue: #03a9f4;
$dark-blue: rgb(102, 187, 255);
$light-gray-blue: rgb(124, 153, 168);
$hero-str: #f44336;
$hero-int:  #03a9f4;
$hero-agi: #39d401;

$item-rare: #1A87F9;
$item-artifact: #E29B01;
$item-secret-shop: #FFFFFF;
$item-consumable: #1D80E7;
$item-common: #2BAB01;
$item-epic: #B812F9;
$item-component: #FFFFFF;

$item-rarity-immortal: #e4ae33;
$item-rarity-legendary: #d32ce6;
$item-rarity-rare: #4b69ff;
$item-rarity-mythical: #8847ff;
$item-rarity-arcana: #ade55c;

// player color
$player-slot-0: "#3375FF";
$player-slot-1: "#66FFBF";
$player-slot-2: "#BF00BF";
$player-slot-3: "#F3F00B";
$player-slot-4: "#FF6B00";
$player-slot-1-2-8: "#FE86C2";
$player-slot-1-2-9: "#A1B447";
$player-slot-1-3-0: "#65D9F7";
$player-slot-1-3-1: "#008321";
$player-slot-1-3-2: "#A46900";

.unknown-txt {
  color: $gray;
}


// rank color
$color-immortal: rgb(17 17 35 / 65%);
$color-immortal-alt: rgb(17 17 35 / 45%);

$color-divine: rgb(33 41 69 / 65%);
$color-divine-alt: rgb(33 41 69 / 45%);

$color-ancient: rgb(82 52 91 / 65%);
$color-ancient-alt: rgb(82 52 91 / 45%);

$color-legend: rgb(84 60 26 / 65%);
$color-legend-alt: rgb(84 60 26 / 45%);

$color-archon: rgb(24 85 74 / 65%);
$color-archon-alt: rgb(24 85 74 / 45%);

$color-cursader: rgb(58 73 124 / 65%);
$color-cursader-alt: rgb(58 73 124 / 45%);

$color-guardian: rgb(114 79 49 / 65%);
$color-guardian-alt: rgb(114 79 49 / 45%);

$color-herald: rgb(32 74 33 / 65%);
$color-herald-alt: rgb(32 74 33 / 45%);

$dropShadow: drop-shadow(rgba($black, 0.3) 2px -2px 2px) drop-shadow(rgba($black, 0.3) 2px -2px 2px);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: $gray; background: $dark; }

* {
  margin: 0;
  padding: 0;
}

a {
 text-decoration: none; 
}
a:hover {
  opacity: .8;
  cursor: pointer;
}

.account_link {
  color: rgb(102, 187, 255);
  display: block;
}

.wrapper {
  padding: 30px 0 150px;
  width: 1200px;
  margin: 0 auto;
}

// override the table style
.mat-paginator {
  border: 1px solid rgba($color: $white, $alpha: 0.03);
  background: none;
}
.mat-table {
  width: 100%;
  border: 1px solid rgba($color: $white, $alpha: 0.03);
  background: none;

  th {
    background: rgba($color: $white, $alpha: 0.03);
    text-transform: uppercase;
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 10px;
  }
  
  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 10px;
  }

  td {
    color: $gray;
    font-size: 13px;
  }
  

  .mat-row:hover {
    background-color: rgba($color: #000000, $alpha: .1);
  }
}


// hero image
app-img {
  background: url(./assets/images/Dota2Logo.svg) no-repeat center center;
  background-size: contain;

  &.transparent-app-img {
    background: transparent;
  }
}
.sm-hero-img {
  width: 52px;
  height: 29px;
  display: inline-block;
}

.md-hero-img {
  width: 180px;
  height: 101.25px;
}

.me-hero-img {
  width: 85px;
  height: 47.81px;
}

// item image
.sb-item-img {
  width: 40px;
}
.md-item-img {
  height: 50px;
}

.me-item-img {
  width: 64px;
  height: 48.67px;
}

// icon img
.icon-img {
  width: 20px;
}

.death-icon-img {
  width: 24px;
  height: 24px;
}

// abilities img
.md-abilities-img {
  width: 64px;
  display: inline-block;
  height: 64px;
}