<div class="item-tooltip" *ngIf="item && (!aghs || !aghs['has_' + aghs?.has])"
  [style]="'left:' + pageXY[0] + 'px; top:' + pageXY[1] + 'px'">
  <div class="item-main">
    <app-img [data]="item['img']" *ngIf="item && item['img']" class="md-item-img" [altData]="item['dname']">
    </app-img>
    <div class="item-main-right">
      <h3>{{item.dname}}</h3>
      <span class="item-cost" *ngIf="!item.tier">
        <app-img [data]="'/apps/dota2/images/tooltips/gold.png'" class="icon-img" [altData]="'$'">
        </app-img>
        {{item.cost}}
      </span>
      <span class="item-cost" *ngIf="!!item.tier">
        Neutral Items
      </span>
    </div>
  </div>
  <!-- item-main -->
  <div class="item-behavior" *ngIf="item?.behavior > 0">
    <label>TARGET:</label>
    <span *ngFor="let behavior of item.behavior">{{behavior}} /</span>
  </div>
  <div class="item-dispellable" *ngIf="item?.dispellable">
    <label>DISPELLABLE:</label> {{item?.dispellable}}
  </div>
  <div class="item-attrib" *ngIf="item.attrib">
    <p *ngFor="let attribItem of item.attrib" class="attrib-row">
      <span>{{replaceValueInDisplay(attribItem)}}</span>
    </p>
  </div>
  <!-- item abilities -->
  <div class="item-abilities" *ngIf="item.abilities.length > 0">
    <div *ngFor="let ability of item.abilities" [class]="'item-ability item-ability-' + ability.type ">
      <div class="item-ability-title">
        <h2>{{ability.type}}: {{ability.title}}</h2>
        <div *ngIf="ability.type === 'active'">
          <div class="item-mc-cd">
            <span class="item-mc" *ngIf="item.mc">
              <img onError="this.src='./assets/images/Dota2Logo.svg'" width="15px" height="15px"
                src="assets/images/mana.png">
              <span class="item-value">{{item.mc}}</span>
            </span>
            <span class="item-cd" *ngIf="item.cd">
              <img onError="this.src='./assets/images/Dota2Logo.svg'" width="15px" height="15px"
                src="assets/images/cooldown.png">
              <span class="item-value">{{item.cd}}</span>
            </span>
          </div>
        </div>
      </div>
      <p class="item-ability-content">{{ability.description}}</p>
    </div>
  </div>
  <!-- item-attrib -->
  <div class="item-hint" *ngIf="item.hint.length > 0">
    <p *ngFor="let hint of item.hint" class="hint-row">
      {{hint}}
    </p>
  </div>
  <!-- item-hint -->
  <div class="item-lore" *ngIf="item.lore">
    {{item.lore}}
  </div>
  <!-- item-lore -->
  <div class="item-component" *ngIf="item.components" class="item-components">
    <h6>Components:</h6>
    <div class="components-row">
      <span *ngFor="let component of item.components" class="components-block">
        <app-img [data]="items[component]?.img" *ngIf="items && component && items[component]?.img" class="sb-item-img"
          [altData]="items[component]['dname']">
        </app-img>
        <span *ngIf="items" class="item-cost">{{items[component]?.cost}}</span>
      </span>
      <span class="components-block" *ngIf="item.created">
        <img onError="this.src='./assets/images/Dota2Logo.svg'" width="40" src='./assets/images/recipe.png' />
        <span class="item-cost">{{calRecipeCost(item)}}</span>
      </span>
    </div>
  </div>
  <!-- item-components -->

</div>
<!-- item-tooltip -->

<div class="item-tooltip" *ngIf="item && aghs && aghs['has_' + aghs.has]"
  [style]="'left:' + pageXY[0] + 'px; top:' + pageXY[1] + 'px'">
  <div class="item-main">
    <app-img [data]="item['img']" class="md-item-img" [altData]="item['dname']">
    </app-img>

    <div class="item-main-right">
      <h3>{{item.dname}}</h3>
    </div>
  </div>
  <!-- item-main -->

  <div *ngIf="aghs && aghs['has_' + aghs?.has]" class="aghs-box">
    <div class="item-main">
      <app-img [data]="aghs[aghs['has'] + '_img']" class="md-item-img" [altData]="'aghs'">
      </app-img>
      <div class="item-main-right">
        <h3>{{aghs[aghs?.has + '_skill_name']}}
          <span *ngIf="aghs[aghs?.has + '_new_skill']" class="new-ablility">
            New Ability <mat-icon>fiber_new</mat-icon>
          </span>
          <span *ngIf="!aghs[aghs?.has + '_new_skill']" class="enhance-ablility">
            Enhance Ability <mat-icon>offline_bolt</mat-icon>
          </span>
        </h3>
      </div>
    </div>
    <!-- item-main -->

    <div class="item-lore" *ngIf="item.lore">
      {{aghs[aghs.has + '_desc']}}
    </div>
  </div>

</div>