<div class="item-tooltip" *ngIf="item && (!aghs || !aghs['has_' + aghs?.has])" [style]="'left:' + pageXY[0] + 'px; top:' + pageXY[1] + 'px'">
  <div class="item-main">
    <app-img
      [data]="item['img']"
      *ngIf="item && item['img']"
      class="md-item-img"
      [altData]="item['dname']">
    </app-img>
    <div class="item-main-right">
      <h3>{{item.dname}}</h3>
      <span class="item-cost">
        <app-img
          [data]="'/apps/dota2/images/tooltips/gold.png'"
          class="icon-img"
          [altData]="'$'">
        </app-img>
        {{item.cost}}
      </span>
    </div>
  </div>
  <!-- item-main -->
  <div class="item-attrib" *ngIf="item.attrib">
    <p *ngFor="let attribItem of item.attrib" class="attrib-row">
      <span>{{attribItem.header}}</span> {{attribItem.value}} <span>{{attribItem.footer}}</span>
    </p>
  </div>
  <!-- item-attrib -->
  <div class="item-hint" *ngIf="item.hint">
    <p *ngFor="let hint of item.hint" class="hint-row">
      {{hint}}
    </p>
  </div>
  <!-- item-hint -->
  <div class="item-lore" *ngIf="item.lore">
    {{item.lore}}
  </div>
  <!-- item-lore -->
  <div class="item-component" *ngIf="item.components" class="item-components">
    <h6>Components:</h6>
    <div class="components-row">
      <span *ngFor="let component of item.components" class="components-block">
        <app-img
          [data]="items[component]['img']"
          *ngIf="items && component && items[component]?.img"
          class="sb-item-img"
          [altData]="items[component]['dname']">
        </app-img>
        <span *ngIf="items" class="item-cost">{{items[component]['cost']}}</span>
      </span>
      <span class="components-block">
        <app-img
          [data]="items['recipe_' + item?.img.slice(25).split('_lg')[0]]['img']"
          *ngIf="items && items['recipe_' + item?.img.slice(25).split('_lg')[0]]?.img"
          class="sb-item-img"
          [altData]="item['dname']">
        </app-img>
        <span *ngIf="items && items['recipe_' + item?.img.slice(25).split('_lg')[0]]?.cost" class="item-cost">{{items['recipe_' + item?.img.slice(25).split('_lg')[0]]['cost']}}</span>
      </span>
    </div>
  </div>
  <!-- item-components -->

</div>
<!-- item-tooltip -->

<div class="item-tooltip" *ngIf="item && aghs && aghs['has_' + aghs.has]" [style]="'left:' + pageXY[0] + 'px; top:' + pageXY[1] + 'px'">
  <div class="item-main">
    <app-img
      [data]="item['img']"
      class="md-item-img"
      [altData]="item['dname']">
    </app-img>

    <div class="item-main-right">
      <h3>{{item.dname}}</h3>
    </div>
  </div>
  <!-- item-main -->
  
  <div *ngIf="aghs && aghs['has_' + aghs?.has]" class="aghs-box">
    <div class="item-main">
      <app-img
        [data]="aghs[aghs['has'] + '_img']"
        class="md-item-img"
        [altData]="'aghs'">
      </app-img>
      <div class="item-main-right">
        <h3>{{aghs[aghs?.has + '_skill_name']}}
          <span *ngIf="aghs[aghs?.has + '_new_skill']" class="new-ablility">
            New Ability <mat-icon>fiber_new</mat-icon>
          </span>
          <span *ngIf="!aghs[aghs?.has + '_new_skill']" class="enhance-ablility">
            Enhance Ability <mat-icon>offline_bolt</mat-icon>
          </span>
        </h3> 
      </div>
    </div>
    <!-- item-main -->

    <div class="item-lore" *ngIf="item.lore">
      {{aghs[aghs.has + '_desc']}}
    </div>
  </div>
  
</div>