@import '../../../../styles.scss';
// override the table style
.mat-paginator {
  border: 1px solid rgba($color: $white, $alpha: 0.03);
  background: none;
}
.mat-table {
  border: 1px solid rgba($color: $white, $alpha: 0.03);
  background: none;
  width: 100%;

  th {
    background: rgba($color: $white, $alpha: 0.03);
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 10px;
    overflow: hidden;
  }
  
  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 10px;
  }

  td {
    color: $gray;
    font-size: 13px;
  }
}

.ver-align {
  display: flex;
  align-items: center;
  position: relative;

  .account_link {
    margin-left: 5px;
  }
}


.date-time {
  color: $gray;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  padding-left: 5px;
  
  .date-time-value {
    display: inline-block;
    width: 90px;
  }
}

.account-date {
  display: flex;
  flex-direction: column;
}


.kda-bar-box {
  position: relative;
}
.kda-bar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 280%;
  cursor: pointer;
}


// matches
.type-name {
  text-transform: capitalize;
  display: block;
}

.party-size {
  cursor: pointer;
  display: inline-block;
}

.party-size-icon {
  cursor: pointer;
  position: relative;
  top: 3px;
  font-size: 14px;
  color: $gray;
  width: 14px;
  height: 14px;
}

.party-size-text {
  display: inline-block;
  padding-right: 5px;
  font-size: 11px;
  color: $gray;
}

.lose-match {
  color: $red;
}

.win-match {
  color: $green;
}

.land_role {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-left: 15px;
}


.hero-img,
.land-role-img {
  cursor: pointer;
}

.hero-col {
  position: relative;
}

.item-list {
  display: flex;
  flex-direction: row;

  .item {
    cursor: pointer;
    margin-right: 5px;
  }
}

.item-color {
  border-width: 1px;
  border-style: solid;

  &.item-color-rare {
    border-color: $item-rare;
  }
  
  &.item-color-artifact {
    border-color: $item-artifact;
  }
  
  &.item-color-secret-shop {
    border-color: $item-secret-shop;
  }
  
  &.item-color-consumable {
    border-color: $item-consumable;
  }
  
  &.item-color-common {
    border-color: $item-common;
  }
  
  &.item-color-epic {
    border-color: $item-epic;
  }
  
  &.item-color-component {
    border-color: $item-component;
  }
}
