@import '../../../../styles.scss';
// override the table style
.mat-paginator {
  border: 1px solid rgba($color: $white, $alpha: 0.03);
  background: none;
}
.mat-table {
  border: 1px solid rgba($color: $white, $alpha: 0.03);
  background: none;
  width: 100%;

  th {
    background: rgba($color: $white, $alpha: 0.03);
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding-left: 10px;
  }
  
  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    padding-right: 10px;
  }

  td {
    color: $gray;
    font-size: 13px;
  }
}

.ver-align {
  display: flex;
  align-items: center;

  .account_link {
    margin-left: 5px;
  }
}

.date-time {
  color: $gray;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  padding-left: 5px;
}

.account-date {
  display: flex;
  flex-direction: column;
}

.kda-bar-box {
  position: relative;
}
.kda-bar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 280%;
  cursor: pointer;
}