@import '../../../../styles.scss';

.wrapper {
  padding: 30px 0 40px;
  width: 1200px;
  margin: 0 auto;
}

.match-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// left win side
.win-side {
  font-size: 32px;

  .victory-text {
    display: inline-block;
    padding-left: 10px;
  }

  .radiant-txt {
    display: flex;
    align-items: center;
  
    ::ng-deep {
      svg {
        fill: $green;
        width: 30px;
      }
    }
  }
  
  .dire-txt {
    display: flex;
    align-items: center;
    color: $red;
  
    ::ng-deep {
      svg {
        fill: $red;
        width: 30px;
      }
    }
  }
}

// middle duration-score column
.durationg-score {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;


  .dire-txt,
  .radiant-txt {
    font-size: 50px;
  }

  .game-mode {
    text-transform: uppercase;
    margin: 0;
    font-size: 18px;
    padding-bottom: 5px;
    color: $white;
  }

  .game-duration {
    color: $white;
    font-weight: 0;
    font-size: 28px;
    padding-bottom: 5px;
    margin: 0;
  }

  .game-mode-duration-time {
    padding: 0 20px;
  }

  .game-time {
    text-transform: uppercase;
  }
}

// sub-info
.sub-info {
  display: flex;
  justify-content: flex-end;

  .sub-info-title {
    font-size: 12px;
    text-align: right;
    text-transform: uppercase;
  }
  span {
    color: $white;
  }

  .sub-info-block {
    padding-left: 15px;
  }
}

.radiant-txt {
  color: $green;
}

.dire-txt {
  color: $red;
}
