<div class="wrapper match-hero">
  <div class="win-side">
    <div *ngIf="data?.radiant_win; else direWin" class="radiant-txt">
      <app-radient></app-radient>
      <span class="victory-text">{{data?.radiant_team ? (data?.radiant_team?.name + ' Victory') : 'Radiant Victory' }}</span>
    </div>
    <ng-template #direWin>
      <div class="dire-txt">
        <app-dire></app-dire>
        <span class="victory-text">{{data?.dire_team ? (data?.dire_team?.name + ' Victory'): 'Dire Victory' }}</span>
      </div>
    </ng-template>
    
  </div>
  <div class="durationg-score">
      <div class="radiant-txt">
        {{data.radiant_score ? data.radiant_score : calScore(data.players.slice(0, 5))}}
      </div>
      <div class="game-mode-duration-time" *ngIf="gameModeLocal && data?.game_mode >= 0">
        <p class="game-mode">{{gameModeLocal[data?.game_mode]?.name | nameDestruct: '_' : 2 :'upperCase'}}</p>
        <h2 class="game-duration">{{data?.duration | durationFormat}}</h2>
        <div class="game-time" [matTooltip]="data.start_time * 1000 | date: 'mediumDate'">END {{data.start_time * 1000 | dateTillToday}}</div>
        <!-- parse button -->
        <!-- <button mat-button class="match-re-parse" (click)="parseMatch(data.match_id)">
          <mat-icon>refresh</mat-icon>
          RE-PARSE
        </button> -->
      </div>
      <div class="dire-txt">
        {{data.dire_score ? data.dire_score  : calScore(data.players.slice(5, 10))}}
      </div>
  </div>
  <div class="sub-info">
    <!-- league, not all match will have league info -->
    <div *ngIf="data.league" class="sub-info-block">
      <div class="sub-info-title">LEAGUE</div>
      <span>{{data.league.name}}</span>
    </div>
    <!-- region, not all match will have region info -->
    <div *ngIf="regionLocal && data.region" class="sub-info-block">
      <div class="sub-info-title">REGION</div>
      <span>{{regionLocal[data.region] | nameDestruct: '_' : 0 :'upperCase'}}</span>
    </div>

    <!-- skill, not all match will have skill info -->
    <div *ngIf="data.skill !== null && skillLocal" class="sub-info-block">
      <div class="sub-info-title">SKILL</div>
      <span>{{skillLocal[data.skill].name | nameDestruct: '_' : 1 :'upperCase'}}</span>
    </div>
    <div *ngIf="data.skill === null" class="sub-info-block">
      <div class="sub-info-title">SKILL</div>
      <span>Unknown</span>
    </div>
  </div>
</div>